backups/narrative_workflow_20260323_173434.json
[{"updatedAt":"2026-03-23T06:58:39.177Z","createdAt":"2026-03-05T07:45:56.879Z","id":"BAsjJe74dnlGcyrZ","name":"NIN | notenin (Investigador Autónomo)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"trigger-id","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"query-id","name":"search_query","value":"Mejores prácticas para optimizar workflows de n8n","type":"string"}]},"options":{}},"id":"set-query","name":"Define Misión","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $json.search_query }}\",\n  \"search_depth\": \"advanced\",\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"max_results\": 5\n}","options":{}},"id":"tavily-search","name":"Tavily Deep Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,0]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"model\": \"gemma-3-stable:latest\", \"messages\": [ { \"role\": \"user\", \"content\": \"Mission: \" + $json.query + \"\\nFuentes: \" + JSON.stringify($json.results) } ], \"stream\": false, \"format\": \"json\" } }}","options":{}},"id":"ollama-curator","name":"Ollama (RTX 5090) - Librero","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[672,0]},{"parameters":{"jsCode":"const timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst filename = `/home/node/.n8n-files/docs/notenin/research_${timestamp}.md`;\nconst content = $items('Ollama (RTX 5090) - Librero')[0].json.message.content;\n\nreturn {\n  json: {\n    filename: filename,\n    content: `# [notenin] Reporte de Investigación\\n\\n${content}`\n  }\n};"},"id":"format-note","name":"Prepara Notebook","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"operation":"write","fileName":"={{ $json.filename }}","options":{"append":false}},"id":"write-file","name":"Guardar en Disco","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1104,0]},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[144,144],"id":"8f7ed577-3788-43be-91b1-5c74fcde9533","name":"Schedule Trigger"}],"connections":{"Manual Trigger":{"main":[[{"node":"Define Misión","type":"main","index":0}]]},"Define Misión":{"main":[[{"node":"Tavily Deep Search","type":"main","index":0}]]},"Tavily Deep Search":{"main":[[{"node":"Ollama (RTX 5090) - Librero","type":"main","index":0}]]},"Ollama (RTX 5090) - Librero":{"main":[[{"node":"Prepara Notebook","type":"main","index":0}]]},"Prepara Notebook":{"main":[[{"node":"Guardar en Disco","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Define Misión","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"53479aca-8c0a-4b9d-b8bf-09612f9529a5","activeVersionId":null,"versionCounter":23,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-20T20:21:43.019Z","createdAt":"2026-03-20T20:21:43.019Z","role":"workflow:owner","workflowId":"BAsjJe74dnlGcyrZ","projectId":"YNTnWfqfE7bP6wPn","project":{"updatedAt":"2026-03-20T20:01:34.888Z","createdAt":"2026-03-20T19:51:52.521Z","id":"YNTnWfqfE7bP6wPn","name":"Lucy Admin <lucy@example.com>","type":"personal","icon":null,"description":null,"creatorId":"0eae3705-b1c0-4c76-998b-fe411c066051"}}],"versionMetadata":{"name":null,"description":null}}]