Flujo_Descargar_Libro_N8N.json
{
    "name": "Tool: Descargar Libro",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "descargar-libro",
                "options": {}
            },
            "id": "e0d067de-495c-4fdf-976e-561b32ee1d45",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                380,
                240
            ],
            "webhookId": "9f62de4d-51a6-4dc4-bca5-b65ed5bb8b11"
        },
        {
            "parameters": {
                "command": "python3 /home/lucy-ubuntu/Escritorio/NIN/scripts/book_fetcher.py \"{{ $json.body.query || 'Aristoteles Metafisica Gredos epub' }}\""
            },
            "id": "d04130f1-419b-4afb-980a-5c1cf82e9dbf",
            "name": "Execute Python Scraper",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                600,
                240
            ]
        },
        {
            "parameters": {
                "url": "={{ JSON.parse($json.stdout).url }}",
                "responseFormat": "file",
                "options": {}
            },
            "id": "90e3cd64-dd5f-4608-8e6c-fb03980bc2e3",
            "name": "Download File Binario",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                820,
                240
            ]
        },
        {
            "parameters": {
                "operation": "upload",
                "fileContent": "={{ $binary.data }}",
                "fileName": "={{ JSON.parse($('Execute Python Scraper').item.json.stdout).title || 'Libro_Nuevo' }}.{{ JSON.parse($('Execute Python Scraper').item.json.stdout).extension || 'pdf' }}",
                "folderId": "1jJ0J3F0r1Ea-iM72o_M6Y_t0S9R19_T5",
                "options": {}
            },
            "id": "2bbba2bd-6512-4fb0-b6ab-1d38dd9ce83b",
            "name": "Google Drive",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 2,
            "position": [
                1040,
                240
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "m9F9HwLwT4sT6B2X",
                    "name": "Google Drive account",
                    "testedBy": "Lucy"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Execute Python Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Python Scraper": {
            "main": [
                [
                    {
                        "node": "Download File Binario",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download File Binario": {
            "main": [
                [
                    {
                        "node": "Google Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}