n8n_schema_test.json
{"data":[{"updatedAt":"2026-02-24T16:58:52.681Z","createdAt":"2026-02-24T16:34:20.570Z","id":"BgVWal7bDgPEy8DYn1Nom","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre_archivo"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"7d2d1f8d-7526-4315-a546-2649a5668a91","name":"When Executed by Another Workflow"},{"parameters":{"fileSelector":"={{ $json.nombre_archivo }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[208,0],"id":"b252d750-0d51-4807-8411-ed8aa2754d0a","name":"herramienta - Lector Local"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"herramienta - Lector Local","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b2b85d5c-93b4-40b7-a2d7-5ba0aca1f689","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T16:34:20.571Z","createdAt":"2026-02-24T16:34:20.571Z","role":"workflow:owner","workflowId":"BgVWal7bDgPEy8DYn1Nom","projectId":"mCEHKui7gFoyO9TP"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-24T17:21:11.252Z","createdAt":"2026-02-24T08:17:56.466Z","id":"qkLg6wQ5BMJN8IETobT87","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-256,-208],"id":"8fd81b31-a019-41d6-9f60-5d13939d109d","name":"When chat message received","webhookId":"0c154b4e-e4c4-43a6-af05-6a4e42e39f40"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-208],"id":"8c2c357c-0219-41d9-adb4-35e2d209e4cb","name":"AI Agent"},{"parameters":{"model":"huihui_ai/qwq-abliterated:32b-Q6_K","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-32,16],"id":"8fb23250-8710-4e06-b5af-389bf74fc840","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"7l3V3KyozpH1jUVu","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[96,16],"id":"e5f419bb-77e4-4d17-a30e-4a4bede55581","name":"Calculator"},{"parameters":{"description":"Usa esta herramienta para leer el contenido de archivos locales en el disco duro. Debes proporcionar la ruta o el nombre del archivo que quieres leer.","workflowId":{"__rl":true,"value":"BgVWal7bDgPEy8DYn1Nom","mode":"list","cachedResultUrl":"/workflow/BgVWal7bDgPEy8DYn1Nom","cachedResultName":"My workflow 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[224,16],"id":"b4f5ec9b-2443-4f12-bab6-052528557b5f","name":"Cerebro Central LUCY"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cerebro Central LUCY":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fc518ce5-6176-4253-8ad9-3285661e20be","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-24T08:17:56.468Z","createdAt":"2026-02-24T08:17:56.468Z","role":"workflow:owner","workflowId":"qkLg6wQ5BMJN8IETobT87","projectId":"mCEHKui7gFoyO9TP"}],"activeVersion":null,"tags":[]}],"nextCursor":null}