docs/n8n_recovery_raw/workflows_brain.json
[{"updatedAt":"2026-03-05T04:35:59.000Z","createdAt":"2026-03-05T01:44:53.265Z","id":"SnRyEoRbJuDC-5PBLt8os","name":"Lucy_Gateway_v1","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lucy-input","responseMode":"lastNode","responseCode":200,"options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,220],"id":"wb_lucy","webhookId":"lucy-input","name":"Lucy Input Webhook"},{"parameters":{"httpMethod":"POST","path":"voice-input","responseMode":"lastNode","responseCode":200,"options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,420],"id":"wb_voice","webhookId":"voice-input","name":"Voice Input Webhook"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const fs = require('fs');\nconst path = require('path');\nconst crypto = require('crypto');\n\nconst ROUTING_PROFILES = {\"default\":{\"model\":\"openai-codex/gpt-5.1-codex-mini\",\"fallback_model\":\"qwen2.5-coder:14b-instruct-q8_0\",\"backend\":\"cloud\",\"mcp_profile\":\"safe_readonly\",\"description\":\"Ruta general para eventos no clasificados\"},\"automation\":{\"model\":\"openai-codex/gpt-5.1-codex-mini\",\"fallback_model\":\"qwen2.5-coder:14b-instruct-q8_0\",\"backend\":\"cloud\",\"mcp_profile\":\"ops_automation\",\"description\":\"Flujos de trabajo n8n y orquestacion\"},\"coding\":{\"model\":\"qwen2.5-coder:14b-instruct-q8_0\",\"fallback_model\":\"openai-codex/gpt-5.1-codex-mini\",\"backend\":\"local\",\"mcp_profile\":\"dev_build\",\"description\":\"Generacion, debug y ajuste de codigo\"},\"research\":{\"model\":\"openai-codex/gpt-5.1-codex-mini\",\"fallback_model\":\"qwen2.5-coder:14b-instruct-q8_0\",\"backend\":\"cloud\",\"mcp_profile\":\"research_readonly\",\"description\":\"Busqueda y analisis con fuentes externas\"},\"voice\":{\"model\":\"openai-codex/gpt-5.1-codex-mini\",\"fallback_model\":\"qwen2.5-coder:14b-instruct-q8_0\",\"backend\":\"cloud\",\"mcp_profile\":\"safe_readonly\",\"description\":\"Eventos de voz priorizando latencia y estabilidad\"}};\nconst MCP_PROFILE_MATRIX = {\"safe_readonly\":{\"approval_mode\":\"manual_for_writes\",\"servers\":[\"community-cloudflare\",\"community-exa\",\"community-arxiv\"],\"sensitive_tools\":[],\"notes\":\"Solo lectura y consultas externas de bajo riesgo\"},\"research_readonly\":{\"approval_mode\":\"manual_for_writes\",\"servers\":[\"community-cloudflare\",\"community-exa\",\"community-arxiv\",\"community-notion\"],\"sensitive_tools\":[],\"notes\":\"Investigacion + notas, sin operaciones destructivas\"},\"ops_automation\":{\"approval_mode\":\"always_for_writes\",\"servers\":[\"community-n8n\",\"community-github\",\"community-cloudflare\"],\"sensitive_tools\":[\"workflow_update\",\"workflow_delete\",\"repo_push\",\"deploy\"],\"notes\":\"Operacion de flujos y repos con aprobacion para acciones sensibles\"},\"dev_build\":{\"approval_mode\":\"always_for_writes\",\"servers\":[\"community-github\",\"community-browserbase\",\"community-n8n\"],\"sensitive_tools\":[\"repo_push\",\"workflow_publish\",\"browser_run_with_credentials\"],\"notes\":\"Construccion tecnica con guardrails de cambios\"}};\nconst ACTION_POLICIES = {\"default_requirements\":{\"read\":\"none\",\"write\":\"human_approval\",\"sensitive\":\"human_approval\"},\"action_rules\":{\"workflow_list\":\"read\",\"workflow_get\":\"read\",\"workflow_validate\":\"read\",\"workflow_run\":\"write\",\"workflow_create\":\"write\",\"workflow_update\":\"write\",\"workflow_publish\":\"sensitive\",\"workflow_delete\":\"sensitive\",\"repo_read\":\"read\",\"repo_search\":\"read\",\"repo_push\":\"sensitive\",\"deploy\":\"sensitive\",\"notion_read\":\"read\",\"notion_write\":\"write\",\"credential_read\":\"sensitive\",\"credential_write\":\"sensitive\"},\"keyword_fallback\":{\"sensitive\":[\"delete\",\"destroy\",\"drop\",\"credential\",\"secret\",\"token\",\"billing\",\"publish\",\"deploy\",\"push\"],\"write\":[\"create\",\"update\",\"write\",\"patch\",\"edit\",\"insert\",\"append\",\"run\"]}};\nconst APPROVAL_POLICY = {\"required_fields\":{\"write\":[\"approved_by\",\"approval_token\",\"approval_ts\",\"approval_scope\"],\"sensitive\":[\"approved_by\",\"approval_token\",\"approval_ts\",\"approval_scope\",\"approval_justification\",\"approval_change_ticket\"]},\"token_pattern\":\"^[A-Za-z0-9._:-]{8,128}$\",\"ticket_pattern\":\"^(CHG|INC|TASK)-[A-Za-z0-9_-]{3,64}$\",\"max_age_seconds\":{\"write\":1800,\"sensitive\":900},\"two_person\":{\"enabled_for_levels\":[\"sensitive\"],\"require_requester_identity\":true,\"approver_must_differ\":true,\"requester_fields\":[\"requested_by\",\"requester\",\"actor_user\",\"requester_user\"]},\"require_scope_match\":true,\"hmac\":{\"enabled\":true,\"algorithm\":\"sha256\",\"secret_env_var\":\"MCP_APPROVAL_HMAC_SECRET\",\"field\":\"approval_sig\",\"require_for_levels\":[\"write\",\"sensitive\"]}};\nconst PATCH_HMAC_SECRET = \"fusion-local-approval-hmac-secret\";\nconst MODEL_ALLOWLIST = [\n  'openai-codex/gpt-5.1-codex-mini',\n  'qwen2.5-coder:14b-instruct-q8_0',\n];\nconst DEFAULT_MODEL = 'openai-codex/gpt-5.1-codex-mini';\nconst DEFAULT_FALLBACK_MODEL = 'qwen2.5-coder:14b-instruct-q8_0';\nconst DEFAULT_PROFILE = Object.prototype.hasOwnProperty.call(ROUTING_PROFILES, 'default')\n  ? 'default'\n  : (Object.keys(ROUTING_PROFILES)[0] || 'default');\nconst DEFAULT_MCP_PROFILE = Object.prototype.hasOwnProperty.call(MCP_PROFILE_MATRIX, 'safe_readonly')\n  ? 'safe_readonly'\n  : (Object.keys(MCP_PROFILE_MATRIX)[0] || '');\n\nfunction isObject(v) {\n  return v && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction cleanString(v) {\n  if (typeof v !== 'string') return '';\n  return v.trim();\n}\n\nfunction normalizeCorrelationId(rawBody) {\n  const cid = rawBody.correlation_id;\n  if (typeof cid === 'string' && cid.length >= 8 && cid.length <= 128) {\n    return cid;\n  }\n  const payloadHash = crypto.createHash('sha256').update(JSON.stringify(rawBody)).digest('hex').slice(0, 24);\n  return `cid_${payloadHash}`;\n}\n\nfunction normalizeBackend(raw) {\n  const v = cleanString(raw).toLowerCase();\n  if (v === 'local') return 'local';\n  return 'cloud';\n}\n\nfunction pickAllowedModel(candidate, fallback) {\n  const c = cleanString(candidate);\n  if (MODEL_ALLOWLIST.includes(c)) return c;\n  return fallback;\n}\n\nfunction inferProfile(body, meta) {\n  const explicit = cleanString(meta.workflow_profile || meta.route_profile || meta.profile).toLowerCase();\n  if (explicit && Object.prototype.hasOwnProperty.call(ROUTING_PROFILES, explicit)) {\n    return explicit;\n  }\n  const kind = cleanString(body.kind).toLowerCase();\n  const source = cleanString(body.source).toLowerCase();\n  const taskType = cleanString(meta.task_type || meta.intent || '').toLowerCase();\n  const text = cleanString(body.text).toLowerCase();\n\n  if (\n    ['code', 'coding', 'build', 'debug', 'patch', 'refactor', 'script'].includes(taskType) ||\n    /\\b(codigo|code|debug|patch|refactor|script)\\b/.test(text)\n  ) {\n    return Object.prototype.hasOwnProperty.call(ROUTING_PROFILES, 'coding') ? 'coding' : DEFAULT_PROFILE;\n  }\n  if (kind === 'voice' || source.startsWith('voice') || source.includes('stt')) {\n    return Object.prototype.hasOwnProperty.call(ROUTING_PROFILES, 'voice') ? 'voice' : DEFAULT_PROFILE;\n  }\n  if (\n    ['research', 'search', 'analysis'].includes(taskType) ||\n    kind === 'search' ||\n    /\\b(investigar|research|buscar|analisis)\\b/.test(text)\n  ) {\n    return Object.prototype.hasOwnProperty.call(ROUTING_PROFILES, 'research') ? 'research' : DEFAULT_PROFILE;\n  }\n  if (source.includes('n8n') || taskType.includes('workflow') || taskType.includes('automation')) {\n    return Object.prototype.hasOwnProperty.call(ROUTING_PROFILES, 'automation') ? 'automation' : DEFAULT_PROFILE;\n  }\n  return DEFAULT_PROFILE;\n}\n\nfunction resolveRoute(profileName) {\n  const profile = Object.prototype.hasOwnProperty.call(ROUTING_PROFILES, profileName) ? profileName : DEFAULT_PROFILE;\n  const conf = isObject(ROUTING_PROFILES[profile]) ? ROUTING_PROFILES[profile] : {};\n  const model = pickAllowedModel(conf.model, DEFAULT_MODEL);\n  const fallbackModel = pickAllowedModel(conf.fallback_model, DEFAULT_FALLBACK_MODEL);\n  const backend = normalizeBackend(conf.backend);\n  return {\n    profile,\n    model,\n    fallback_model: fallbackModel,\n    backend,\n    mcp_profile: cleanString(conf.mcp_profile) || DEFAULT_MCP_PROFILE\n  };\n}\n\nfunction resolveMcpPolicy(meta, route) {\n  const explicit = cleanString(meta.mcp_profile).toLowerCase();\n  const profile = explicit && Object.prototype.hasOwnProperty.call(MCP_PROFILE_MATRIX, explicit)\n    ? explicit\n    : (Object.prototype.hasOwnProperty.call(MCP_PROFILE_MATRIX, route.mcp_profile)\n        ? route.mcp_profile\n        : DEFAULT_MCP_PROFILE);\n  const conf = isObject(MCP_PROFILE_MATRIX[profile]) ? MCP_PROFILE_MATRIX[profile] : {};\n  const servers = Array.isArray(conf.servers)\n    ? conf.servers.map((v) => cleanString(v)).filter(Boolean)\n    : [];\n  const sensitive = Array.isArray(conf.sensitive_tools)\n    ? conf.sensitive_tools.map((v) => cleanString(v)).filter(Boolean)\n    : [];\n  return {\n    profile,\n    approval_mode: cleanString(conf.approval_mode) || 'manual_for_writes',\n    servers,\n    sensitive_tools: sensitive,\n    notes: cleanString(conf.notes),\n  };\n}\n\nfunction normalizeActionList(meta) {\n  const raw = meta.mcp_actions || meta.actions;\n  if (Array.isArray(raw)) {\n    return raw.map((v) => cleanString(v).toLowerCase()).filter(Boolean);\n  }\n  if (typeof raw === 'string') {\n    return raw\n      .split(',')\n      .map((v) => cleanString(v).toLowerCase())\n      .filter(Boolean);\n  }\n  return [];\n}\n\nfunction classifyAction(action) {\n  const rules = isObject(ACTION_POLICIES.action_rules) ? ACTION_POLICIES.action_rules : {};\n  if (typeof rules[action] === 'string') {\n    const level = cleanString(rules[action]).toLowerCase();\n    if (['read', 'write', 'sensitive'].includes(level)) return level;\n  }\n  const fallback = isObject(ACTION_POLICIES.keyword_fallback) ? ACTION_POLICIES.keyword_fallback : {};\n  const sensitiveKeywords = Array.isArray(fallback.sensitive) ? fallback.sensitive : [];\n  const writeKeywords = Array.isArray(fallback.write) ? fallback.write : [];\n  for (const kw of sensitiveKeywords) {\n    const k = cleanString(kw).toLowerCase();\n    if (k && action.includes(k)) return 'sensitive';\n  }\n  for (const kw of writeKeywords) {\n    const k = cleanString(kw).toLowerCase();\n    if (k && action.includes(k)) return 'write';\n  }\n  return 'read';\n}\n\nfunction requiresHumanApproval(level, approvalMode) {\n  const mode = cleanString(approvalMode).toLowerCase();\n  if (level === 'read') return false;\n  if (mode === 'none') return false;\n  if (mode === 'always_for_sensitive') return level === 'sensitive';\n  if (mode === 'always_for_writes' || mode === 'manual_for_writes') return level === 'write' || level === 'sensitive';\n  if (mode === 'read_only') return level !== 'read';\n  return level === 'write' || level === 'sensitive';\n}\n\nfunction normalizeScope(meta) {\n  const raw = meta.approval_scope;\n  if (Array.isArray(raw)) {\n    return raw.map((v) => cleanString(v).toLowerCase()).filter(Boolean);\n  }\n  if (typeof raw === 'string') {\n    return raw.split(',').map((v) => cleanString(v).toLowerCase()).filter(Boolean);\n  }\n  return [];\n}\n\nfunction parseIsoToMs(value) {\n  const v = cleanString(value);\n  if (!v) return null;\n  const ms = Date.parse(v);\n  if (Number.isNaN(ms)) return null;\n  return ms;\n}\n\nfunction isTokenValid(token) {\n  const pattern = cleanString(APPROVAL_POLICY.token_pattern);\n  if (!pattern) return !!token;\n  try {\n    const re = new RegExp(pattern);\n    return re.test(token);\n  } catch (_) {\n    return !!token;\n  }\n}\n\nfunction isTicketValid(ticket) {\n  const pattern = cleanString(APPROVAL_POLICY.ticket_pattern);\n  if (!pattern) return !!ticket;\n  try {\n    const re = new RegExp(pattern);\n    return re.test(ticket);\n  } catch (_) {\n    return !!ticket;\n  }\n}\n\nfunction requiredFieldsForLevel(level) {\n  const req = isObject(APPROVAL_POLICY.required_fields) ? APPROVAL_POLICY.required_fields : {};\n  const fields = req[level];\n  if (Array.isArray(fields)) {\n    return fields.map((v) => cleanString(v)).filter(Boolean);\n  }\n  return ['approved_by', 'approval_token'];\n}\n\nfunction maxAgeSecondsForLevel(level) {\n  const maxAge = isObject(APPROVAL_POLICY.max_age_seconds) ? APPROVAL_POLICY.max_age_seconds : {};\n  const v = Number(maxAge[level]);\n  if (Number.isFinite(v) && v > 0) return v;\n  return level === 'sensitive' ? 900 : 1800;\n}\n\nfunction hmacConfig() {\n  const conf = isObject(APPROVAL_POLICY.hmac) ? APPROVAL_POLICY.hmac : {};\n  const enabled = conf.enabled !== false;\n  const algorithm = cleanString(conf.algorithm).toLowerCase() || 'sha256';\n  const secretEnvVar = cleanString(conf.secret_env_var) || 'MCP_APPROVAL_HMAC_SECRET';\n  const field = cleanString(conf.field) || 'approval_sig';\n  const requireForLevels = Array.isArray(conf.require_for_levels)\n    ? conf.require_for_levels.map((v) => cleanString(v).toLowerCase()).filter(Boolean)\n    : ['write', 'sensitive'];\n  return { enabled, algorithm, secretEnvVar, field, requireForLevels };\n}\n\nfunction twoPersonConfig() {\n  const conf = isObject(APPROVAL_POLICY.two_person) ? APPROVAL_POLICY.two_person : {};\n  const enabledForLevels = Array.isArray(conf.enabled_for_levels)\n    ? conf.enabled_for_levels.map((v) => cleanString(v).toLowerCase()).filter(Boolean)\n    : ['sensitive'];\n  const requesterFields = Array.isArray(conf.requester_fields)\n    ? conf.requester_fields.map((v) => cleanString(v)).filter(Boolean)\n    : ['requested_by', 'requester', 'actor_user', 'requester_user'];\n  const requireRequesterIdentity = conf.require_requester_identity !== false;\n  const approverMustDiffer = conf.approver_must_differ !== false;\n  return { enabledForLevels, requesterFields, requireRequesterIdentity, approverMustDiffer };\n}\n\nfunction resolveRequesterIdentity(meta, candidateFields) {\n  const fields = Array.isArray(candidateFields) ? candidateFields : [];\n  for (const field of fields) {\n    const key = cleanString(field);\n    if (!key) continue;\n    const direct = cleanString(meta[key]);\n    if (direct) return direct;\n  }\n  return cleanString(meta.requested_by || meta.requester || meta.actor_user || meta.requester_user);\n}\n\nfunction signatureCanonicalString(params) {\n  const actions = Array.isArray(params.actions) ? [...params.actions].sort() : [];\n  const scope = Array.isArray(params.scope) ? [...params.scope].sort() : [];\n  return [\n    cleanString(params.approvedBy),\n    cleanString(params.approvalToken),\n    cleanString(params.approvalTs),\n    cleanString(params.correlationId),\n    cleanString(params.level),\n    cleanString(params.requesterIdentity),\n    actions.join(','),\n    scope.join(','),\n    cleanString(params.approvalChangeTicket),\n    cleanString(params.approvalJustification),\n  ].join('\\n');\n}\n\nfunction getEnvVar(name) {\n  const key = cleanString(name);\n  if (!key) return '';\n  try {\n    if (typeof $env !== 'undefined' && $env && typeof $env === 'object') {\n      const v = $env[key];\n      if (v !== undefined && v !== null) return String(v);\n    }\n  } catch (_) {\n    // ignore\n  }\n  return '';\n}\n\nfunction verifyApprovalSignature(params) {\n  const conf = hmacConfig();\n  if (!conf.enabled || !conf.requireForLevels.includes(params.level)) {\n    return { required: false, ok: true, reason: '', provided: false };\n  }\n  const providedSig = cleanString(params.approvalSig || '');\n  if (!providedSig) {\n    return { required: true, ok: false, reason: 'missing_approval_sig', provided: false };\n  }\n  if (conf.algorithm !== 'sha256') {\n    return { required: true, ok: false, reason: 'unsupported_hmac_algorithm', provided: true };\n  }\n  const secret = cleanString(getEnvVar(conf.secretEnvVar) || PATCH_HMAC_SECRET);\n  if (!secret) {\n    return { required: true, ok: false, reason: 'missing_hmac_secret_server', provided: true };\n  }\n  const canonical = signatureCanonicalString(params);\n  const expectedSig = crypto.createHmac('sha256', secret).update(canonical, 'utf8').digest('hex');\n  const a = Buffer.from(providedSig, 'utf8');\n  const b = Buffer.from(expectedSig, 'utf8');\n  if (a.length !== b.length) {\n    return { required: true, ok: false, reason: 'invalid_approval_sig', provided: true };\n  }\n  const ok = crypto.timingSafeEqual(a, b);\n  return {\n    required: true,\n    ok,\n    reason: ok ? '' : 'invalid_approval_sig',\n    provided: true,\n  };\n}\n\nfunction evaluateMcpApproval(meta, mcpPolicy, receivedTs, correlationId) {\n  const actions = normalizeActionList(meta);\n  const approvalToken = cleanString(meta.approval_token || meta.human_approval_token);\n  const approvedBy = cleanString(meta.approved_by || meta.human_approved_by);\n  const approvalTs = cleanString(meta.approval_ts || meta.human_approval_ts);\n  const approvalJustification = cleanString(meta.approval_justification || meta.human_approval_justification);\n  const approvalChangeTicket = cleanString(meta.approval_change_ticket || meta.change_ticket || meta.ticket_id);\n  const twoPerson = twoPersonConfig();\n  const requesterIdentity = resolveRequesterIdentity(meta, twoPerson.requesterFields);\n  const sigField = cleanString(hmacConfig().field) || 'approval_sig';\n  const approvalSig = cleanString(meta[sigField] || meta.approval_sig || meta.human_approval_sig);\n  const scope = normalizeScope(meta);\n  const actionEntries = actions.map((action) => {\n    const level = classifyAction(action);\n    return {\n      action,\n      level,\n      requires_approval: requiresHumanApproval(level, mcpPolicy.approval_mode),\n    };\n  });\n  let highestLevel = 'read';\n  if (actionEntries.some((x) => x.level === 'sensitive')) highestLevel = 'sensitive';\n  else if (actionEntries.some((x) => x.level === 'write')) highestLevel = 'write';\n  const requiresApproval = actionEntries.some((x) => x.requires_approval);\n  const twoPersonRequired = requiresApproval && twoPerson.enabledForLevels.includes(highestLevel);\n  const reasons = [];\n  let hasApproval = true;\n\n  if (requiresApproval) {\n    hasApproval = Boolean(approvalToken && approvedBy);\n    if (!approvedBy) reasons.push('missing_approved_by');\n    if (!approvalToken) reasons.push('missing_approval_token');\n    if (approvalToken && !isTokenValid(approvalToken)) reasons.push('invalid_approval_token_format');\n\n    const requiredFields = requiredFieldsForLevel(highestLevel);\n    for (const f of requiredFields) {\n      if (f === 'approval_ts' && !approvalTs) reasons.push('missing_approval_ts');\n      if (f === 'approval_scope' && scope.length === 0) reasons.push('missing_approval_scope');\n      if (f === 'approval_justification' && !approvalJustification) reasons.push('missing_approval_justification');\n      if (f === 'approval_change_ticket' && !approvalChangeTicket) reasons.push('missing_approval_change_ticket');\n    }\n    if (approvalChangeTicket && !isTicketValid(approvalChangeTicket)) reasons.push('invalid_approval_change_ticket_format');\n    if (twoPersonRequired) {\n      if (twoPerson.requireRequesterIdentity && !requesterIdentity) reasons.push('missing_requester_identity');\n      if (\n        twoPerson.approverMustDiffer &&\n        requesterIdentity &&\n        approvedBy &&\n        requesterIdentity.toLowerCase() === approvedBy.toLowerCase()\n      ) {\n        reasons.push('approver_equals_requester');\n      }\n    }\n\n    const approvalMs = parseIsoToMs(approvalTs);\n    const nowMs = parseIsoToMs(receivedTs);\n    if (approvalTs && approvalMs === null) reasons.push('invalid_approval_ts');\n    if (approvalMs !== null && nowMs !== null) {\n      const ageSec = Math.floor((nowMs - approvalMs) / 1000);\n      const maxAgeSec = maxAgeSecondsForLevel(highestLevel);\n      if (ageSec < 0) reasons.push('approval_ts_in_future');\n      if (ageSec > maxAgeSec) reasons.push('approval_expired');\n    }\n\n    const requireScopeMatch = Boolean(APPROVAL_POLICY.require_scope_match);\n    if (requireScopeMatch && scope.length > 0) {\n      for (const entry of actionEntries) {\n        if (!entry.requires_approval) continue;\n        if (!scope.includes(entry.action)) reasons.push(`scope_missing:${entry.action}`);\n      }\n    }\n\n    const sigCheck = verifyApprovalSignature({\n      approvalSig,\n      approvedBy,\n      approvalToken,\n      approvalTs,\n      correlationId,\n      level: highestLevel,\n      requesterIdentity,\n      actions: actionEntries.map((x) => x.action),\n      scope,\n      approvalChangeTicket,\n      approvalJustification,\n    });\n    if (sigCheck.required && !sigCheck.ok) {\n      reasons.push(sigCheck.reason || 'invalid_approval_sig');\n    }\n  }\n\n  if (requiresApproval && reasons.length > 0) hasApproval = false;\n  const blocked = requiresApproval && !hasApproval;\n  return {\n    actions: actionEntries,\n    highest_level: highestLevel,\n    requires_human_approval: requiresApproval,\n    approved: !requiresApproval || hasApproval,\n    blocked,\n    approved_by: approvedBy,\n    requester_identity: requesterIdentity,\n    requester_identity_present: Boolean(requesterIdentity),\n    two_person_enforced: twoPersonRequired,\n    approval_token_present: Boolean(approvalToken),\n    approval_sig_present: Boolean(approvalSig),\n    approval_ts: approvalTs,\n    approval_scope: scope,\n    approval_change_ticket: approvalChangeTicket,\n    approval_change_ticket_present: Boolean(approvalChangeTicket),\n    approval_justification_present: Boolean(approvalJustification),\n    reasons,\n  };\n}\n\nfunction appendGatewayMetric(ev) {\n  try {\n    const metricsDir = '/data/lucy_ipc/metrics';\n    const metricsPath = path.join(metricsDir, 'lucy_gateway_events.jsonl');\n    fs.mkdirSync(metricsDir, { recursive: true });\n    fs.appendFileSync(metricsPath, JSON.stringify(ev) + '\\n', 'utf8');\n  } catch (_) {\n    // metric write is best effort\n  }\n}\n\nconst body = isObject($json.body) ? $json.body : {};\nconst headers = isObject($json.headers) ? $json.headers : {};\nconst receivedTs = new Date().toISOString();\nconst correlationId = normalizeCorrelationId(body);\nconst meta = isObject(body.meta) ? body.meta : {};\nconst routeProfile = inferProfile(body, meta);\nconst route = resolveRoute(routeProfile);\nconst mcpPolicy = resolveMcpPolicy(meta, route);\nconst mcpApproval = evaluateMcpApproval(meta, mcpPolicy, receivedTs, correlationId);\nconst enrichedMeta = {\n  ...meta,\n  routing: route,\n  mcp: mcpPolicy,\n  mcp_approval: mcpApproval,\n  ingress: {\n    gateway: 'Lucy_Gateway_v1',\n    received_ts: receivedTs\n  }\n};\nconst normalizedPayload = {\n  ...body,\n  meta: enrichedMeta\n};\n\nconst inboxDir = '/data/lucy_ipc/inbox';\nconst deadletterDir = '/data/lucy_ipc/deadletter';\n\nconst sourceIp = headers['x-forwarded-for'] || headers['x-real-ip'] || $json.ip || '';\nconst subset = {\n  'user-agent': headers['user-agent'] || '',\n  'content-type': headers['content-type'] || '',\n  'x-request-id': headers['x-request-id'] || ''\n};\n\nconst envelope = {\n  version: 'v1',\n  correlation_id: correlationId,\n  received_ts: receivedTs,\n  payload: normalizedPayload,\n  headers_subset: subset,\n  source_ip: sourceIp,\n  status: 'accepted',\n  routing: route,\n  mcp: mcpPolicy,\n  mcp_approval: mcpApproval\n};\n\nconst errors = [];\nif (typeof normalizedPayload.kind !== 'string' || !normalizedPayload.kind.trim()) errors.push('kind is required string');\nif (typeof normalizedPayload.source !== 'string' || !normalizedPayload.source.trim()) errors.push('source is required string');\nif (typeof normalizedPayload.ts !== 'string' || Number.isNaN(Date.parse(normalizedPayload.ts))) errors.push('ts must be RFC3339 date-time');\nif (Object.prototype.hasOwnProperty.call(normalizedPayload, 'text') && typeof normalizedPayload.text !== 'string') errors.push('text must be string');\nif (Object.prototype.hasOwnProperty.call(normalizedPayload, 'meta') && !isObject(normalizedPayload.meta)) errors.push('meta must be object');\nif (mcpApproval.blocked) {\n  const detail = Array.isArray(mcpApproval.reasons) && mcpApproval.reasons.length\n    ? `:${mcpApproval.reasons.join(',')}`\n    : '';\n  errors.push(`human_approval_required_for_mcp_actions${detail}`);\n}\n\nconst inboxPath = path.join(inboxDir, `${correlationId}.json`);\nconst deadletterPath = path.join(deadletterDir, `${correlationId}.json`);\n\nlet ack = {\n  ok: true,\n  correlation_id: correlationId,\n  received_ts: receivedTs,\n  status: 'accepted',\n  next: `ipc://inbox/${correlationId}.json`,\n  outbox_path: `ipc://outbox/${correlationId}.json`,\n  outbox_contract: 'lucy_output_v1'\n};\n\ntry {\n  fs.mkdirSync(inboxDir, { recursive: true });\n  fs.mkdirSync(deadletterDir, { recursive: true });\n\n  if (fs.existsSync(inboxPath)) {\n    envelope.status = 'duplicate';\n    ack.next = `ipc://inbox/${correlationId}.json`;\n  } else if (errors.length > 0) {\n    envelope.status = 'deadletter';\n    envelope.reason = `invalid_contract: ${errors.join('; ')}`;\n    fs.writeFileSync(deadletterPath, JSON.stringify(envelope, null, 2) + '\\n', { encoding: 'utf-8' });\n    ack.ok = false;\n    ack.reason = envelope.reason;\n    ack.next = `ipc://deadletter/${correlationId}.json`;\n  } else {\n    fs.writeFileSync(inboxPath, JSON.stringify(envelope, null, 2) + '\\n', { encoding: 'utf-8' });\n  }\n} catch (err) {\n  const reason = `ipc_write_failed: ${err && err.message ? err.message : String(err)}`;\n  envelope.status = 'deadletter';\n  envelope.reason = reason;\n  ack.ok = false;\n  ack.reason = reason;\n  ack.next = `ipc://deadletter/${correlationId}.json`;\n  try {\n    fs.mkdirSync(deadletterDir, { recursive: true });\n    fs.writeFileSync(deadletterPath, JSON.stringify(envelope, null, 2) + '\\n', { encoding: 'utf-8' });\n  } catch (_) {\n    // keep ACK deterministic even when deadletter write fails\n  }\n}\n\nappendGatewayMetric({\n  ts: receivedTs,\n  correlation_id: correlationId,\n  ingress_status: envelope.status,\n  ack_ok: ack.ok,\n  route_profile: route.profile,\n  model: route.model,\n  fallback_model: route.fallback_model,\n  backend: route.backend,\n  mcp_profile: mcpPolicy.profile,\n  mcp_highest_action_level: mcpApproval.highest_level,\n  mcp_requires_human_approval: mcpApproval.requires_human_approval,\n  mcp_approval_blocked: mcpApproval.blocked,\n  mcp_two_person_enforced: mcpApproval.two_person_enforced,\n  mcp_approval_requester_present: mcpApproval.requester_identity_present,\n  mcp_approval_change_ticket_present: mcpApproval.approval_change_ticket_present,\n  mcp_approval_reasons: Array.isArray(mcpApproval.reasons) ? mcpApproval.reasons : [],\n  source: cleanString(normalizedPayload.source),\n  kind: cleanString(normalizedPayload.kind)\n});\n\nreturn [{ json: ack }];"},"id":"lucy-gateway-code-v1","name":"Gateway Contract + IPC","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Lucy Input Webhook":{"main":[[{"node":"Gateway Contract + IPC","type":"main","index":0}]]},"Voice Input Webhook":{"main":[[{"node":"Gateway Contract + IPC","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"8e2a38cc-1fe6-4791-97cb-b23414374bc6","activeVersionId":"8e2a38cc-1fe6-4791-97cb-b23414374bc6","versionCounter":128,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-03-05T01:44:53.267Z","createdAt":"2026-03-05T01:44:53.267Z","role":"workflow:owner","workflowId":"SnRyEoRbJuDC-5PBLt8os","projectId":"07ss32NdA4qOsVWk","project":{"updatedAt":"2026-03-05T04:50:40.663Z","createdAt":"2026-03-05T01:44:02.610Z","id":"07ss32NdA4qOsVWk","name":"diego pompin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5860e521-6902-4533-9e14-6de759e5079c"}}]},{"updatedAt":"2026-03-05T01:44:57.000Z","createdAt":"2026-03-05T01:44:54.755Z","id":"Hrz7BjjUW5dkKfJA","name":"Test_Manos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"test-manos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"trigger","webhookId":"test-manos","name":"Disparador Manual"},{"parameters":{"method":"POST","url":"http://127.0.0.1:5000/execute","sendBody":true,"bodyParameters":{"parameters":[{"name":"code","value":"import math\nprint(f'Calculando desde el Sandbox: Raíz de 144 es {math.sqrt(144)}')"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[450,200],"id":"codex-runner","name":"Codex Runner (Cálculo)"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"message","value":"NOTIFY: Lucy ha tomado el control del escritorio."}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[450,360],"id":"ipc-message","name":"IPC Mensaje"},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"message","destinationKey":"data","options":{"encoding":"utf8","mimeType":"text/plain","fileName":"test_n8n.txt","useRawData":true}},"type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[650,360],"id":"ipc-to-binary","name":"IPC a Binario"},{"parameters":{"operation":"write","fileName":"/data/lucy_ipc/inbox/test_n8n.txt","dataPropertyName":"data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[850,360],"id":"x11-bridge","name":"X11 Bridge (Notificación)"}],"connections":{"Disparador Manual":{"main":[[{"node":"Codex Runner (Cálculo)","type":"main","index":0},{"node":"IPC Mensaje","type":"main","index":0}]]},"IPC Mensaje":{"main":[[{"node":"IPC a Binario","type":"main","index":0}]]},"IPC a Binario":{"main":[[{"node":"X11 Bridge (Notificación)","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"80230c2c-1853-4cef-8c07-e1dde91ac771","activeVersionId":"80230c2c-1853-4cef-8c07-e1dde91ac771","versionCounter":64,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-05T01:44:54.756Z","createdAt":"2026-03-05T01:44:54.756Z","role":"workflow:owner","workflowId":"Hrz7BjjUW5dkKfJA","projectId":"07ss32NdA4qOsVWk","project":{"updatedAt":"2026-03-05T04:50:40.663Z","createdAt":"2026-03-05T01:44:02.610Z","id":"07ss32NdA4qOsVWk","name":"diego pompin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5860e521-6902-4533-9e14-6de759e5079c"}}]},{"updatedAt":"2026-03-05T05:36:17.000Z","createdAt":"2026-03-05T05:18:07.737Z","id":"PMP3I4RIqgRt3Qfl","name":"Fusion mini check","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wb_fusion_mini_v1","name":"Fusion webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[300,200],"parameters":{"httpMethod":"GET","path":"fusion-mini-check-20260305","responseMode":"responseNode","responseData":"lastNode","responseCode":200,"options":{}},"webhookId":"fusion-mini-check-20260305"},{"id":"resp_fusion_mini_v1","name":"Responder","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[520,200],"parameters":{"responseCode":200,"responseData":"={{ {\"ok\": true, \"source\": \"gpt-5.1-mini\"} }}","respondWith":"json","responseBody":{"ok":true,"source":"gpt-5.1-mini","workflow_id":"PMP3I4RIqgRt3Qfl"}}}],"connections":{"Fusion webhook":{"main":[[{"node":"Responder","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"8ffdbe92-6683-479f-9c4e-5c8f1927fd92","activeVersionId":"8ffdbe92-6683-479f-9c4e-5c8f1927fd92","versionCounter":47,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-05T05:18:07.739Z","createdAt":"2026-03-05T05:18:07.739Z","role":"workflow:owner","workflowId":"PMP3I4RIqgRt3Qfl","projectId":"07ss32NdA4qOsVWk","project":{"updatedAt":"2026-03-05T04:50:40.663Z","createdAt":"2026-03-05T01:44:02.610Z","id":"07ss32NdA4qOsVWk","name":"diego pompin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5860e521-6902-4533-9e14-6de759e5079c"}}]},{"updatedAt":"2026-03-05T05:36:19.000Z","createdAt":"2026-03-05T05:19:57.369Z","id":"bDmvZcG27LvD03Gc","name":"Fusion Mini Webhook Flow v2","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wb_fusion_mini_v2","name":"Fusion Mini Webhook v2","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"parameters":{"httpMethod":"GET","path":"fusion-mini-check-v2-20260305","responseMode":"responseNode","responseCode":200,"options":{}},"webhookId":"fusion-mini-check-v2-20260305"},{"id":"resp_fusion_mini_v2","name":"Fusion Mini Response v2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[450,300],"parameters":{"responseCode":200,"responseData":"={{ {\"ok\": true, \"source\": \"gpt-5.1-mini\", \"flow\": \"created-by-model\"} }}","respondWith":"json","responseBody":{"ok":true,"source":"gpt-5.1-mini","workflow_id":"bDmvZcG27LvD03Gc"}}}],"connections":{"Fusion Mini Webhook v2":{"main":[[{"node":"Fusion Mini Response v2","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2a1856a9-6bc5-4583-bde5-bc4106456ba4","activeVersionId":"2a1856a9-6bc5-4583-bde5-bc4106456ba4","versionCounter":46,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-05T05:19:57.371Z","createdAt":"2026-03-05T05:19:57.371Z","role":"workflow:owner","workflowId":"bDmvZcG27LvD03Gc","projectId":"07ss32NdA4qOsVWk","project":{"updatedAt":"2026-03-05T04:50:40.663Z","createdAt":"2026-03-05T01:44:02.610Z","id":"07ss32NdA4qOsVWk","name":"diego pompin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5860e521-6902-4533-9e14-6de759e5079c"}}]}]