docs/n8n_recovery_raw/workflows_canonical.json
[{"updatedAt":"2026-02-27T03:53:10.285Z","createdAt":"2026-02-24T08:17:56.466Z","id":"qkLg6wQ5BMJN8IETobT87","name":"Lucy nin c","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-256,-208],"id":"8fd81b31-a019-41d6-9f60-5d13939d109d","name":"When chat message received","webhookId":"0c154b4e-e4c4-43a6-af05-6a4e42e39f40"},{"parameters":{"options":{"systemMessage":"res LUCY. No expliques lo que vas a hacer ni uses etiquetas <think>. Usa la herramienta 'Cerebro Central LUCY' inmediatamente pasando la ruta exacta en el parámetro input. Omite explicaciones previas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-208],"id":"8c2c357c-0219-41d9-adb4-35e2d209e4cb","name":"AI Agent"},{"parameters":{"model":"huihui_ai/qwq-abliterated:32b-Q6_K","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-32,16],"id":"8fb23250-8710-4e06-b5af-389bf74fc840","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"7l3V3KyozpH1jUVu","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[96,16],"id":"e5f419bb-77e4-4d17-a30e-4a4bede55581","name":"Calculator"},{"parameters":{"description":"Usa esta herramienta para leer el contenido de archivos locales en el disco duro. Debes proporcionar la ruta o el nombre del archivo que quieres leer.","workflowId":{"__rl":true,"value":"BgVWal7bDgPEy8DYn1Nom","mode":"list","cachedResultUrl":"/workflow/BgVWal7bDgPEy8DYn1Nom","cachedResultName":"My workflow 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"=={{ $fromAI('input') }}"},"matchingColumns":["input"],"schema":[{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[224,16],"id":"b4f5ec9b-2443-4f12-bab6-052528557b5f","name":"Cerebro Central LUCY"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cerebro Central LUCY":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9a095d9-92b7-427c-b95f-031e38360a97","activeVersionId":"b9a095d9-92b7-427c-b95f-031e38360a97","versionCounter":88,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-24T08:17:56.468Z","createdAt":"2026-02-24T08:17:56.468Z","role":"workflow:owner","workflowId":"qkLg6wQ5BMJN8IETobT87","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":"Version b9a095d9","description":""}},{"updatedAt":"2026-02-24T17:50:30.595Z","createdAt":"2026-02-24T17:50:30.595Z","id":"eyKAN96qfocCJ7XT","name":"CyberClimate Logger v2.0","description":null,"active":false,"isArchived":false,"nodes":[{"id":"start-node","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[0,0],"parameters":{}},{"id":"http-request","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[300,0],"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather?q=London&appid=YOUR_API_KEY","method":"GET"}},{"id":"write-file","name":"Write File","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[600,0],"parameters":{"file":"/path/to/weather.txt","content":"{{ $node[\"HTTP Request\"][\"json\"] }}"}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Write File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"14522dcc-8f1c-4369-ae45-6fc683b13733","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-24T17:50:30.597Z","createdAt":"2026-02-24T17:50:30.597Z","role":"workflow:owner","workflowId":"eyKAN96qfocCJ7XT","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T04:27:04.835Z","createdAt":"2026-02-24T18:27:56.382Z","id":"BSgAk06gicLgm7zfPpd3_","name":"Pilar 5: Búnker de Memoria (RAG Cyberpunk)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const fs = require('fs');\nconst path = require('path');\nconst dir = '/mnt/Cerebro';\n\nif (!fs.existsSync(dir)) return [];\n\nconst files = fs.readdirSync(dir);\nreturn files.map(file => ({\n  json: {\n    fileName: file,\n    path: path.join(dir, file)\n  }\n}));"},"id":"list-files-code","name":"Manual List Files (FS)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,176]},{"parameters":{"jsCode":"const fs = require('fs');\nconst path = $json.path;\n\ntry {\n  const content = fs.readFileSync(path);\n  const extension = path.split('.').pop().toLowerCase();\n  \n  return [{\n    json: {\n      path,\n      fileName: $json.fileName,\n      mimeType: extension === 'pdf' ? 'application/pdf' : 'text/plain'\n    },\n    binary: {\n      data: {\n        data: content.toString('base64'),\n        fileName: $json.fileName,\n        fileExtension: extension\n      }\n    }\n  }];\n} catch (e) {\n  return [];\n}"},"id":"read-file-code","name":"Manual Read File (FS)","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,176]},{"parameters":{"options":{}},"id":"a8bdd776-ed2f-4b08-a63e-d04c93d08f9b","name":"Extract Content (PDF/Doc)","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[480,400]},{"parameters":{"chunkOverlap":100,"options":{}},"id":"bc256886-718f-4ce1-91c5-e5290a308f87","name":"Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[560,608]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"fb78308c-3cbe-4195-9937-69d2dd104bfd","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[352,400],"credentials":{"ollamaApi":{"id":"QjvfuLtZqaWrXior","name":"Ollama account 2"}}},{"parameters":{"mode":"insert","qdrantCollection":"conciencia_doctor_lucy","options":{}},"id":"cbba058b-0e7b-4406-880f-0367a4e294a4","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[384,176],"credentials":{"qdrantApi":{"id":"JvOsiZzpaVy3x4JI","name":"QdrantApi account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule-trigger","name":"Schedule Every 15m","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-300,176]}],"connections":{"schedule-trigger":{"main":[[{"node":"list-files-code","type":"main","index":0}]]},"list-files-code":{"main":[[{"node":"read-file-code","type":"main","index":0}]]},"read-file-code":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Extract Content (PDF/Doc)":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Text Splitter":{"ai_textSplitter":[[{"node":"Extract Content (PDF/Doc)","type":"ai_textSplitter","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Every 15m":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6d02dd3-a541-4d03-90c3-6034688ccfb5","activeVersionId":"e6d02dd3-a541-4d03-90c3-6034688ccfb5","versionCounter":57,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-24T18:27:56.383Z","createdAt":"2026-02-24T18:27:56.383Z","role":"workflow:owner","workflowId":"BSgAk06gicLgm7zfPpd3_","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-06T19:57:58.057Z","createdAt":"2026-02-25T05:21:54.415Z","id":"mSjsiVaTv5sfb99E","name":"NIN | Doctor System (Consolidated)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tool-doctor","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"wh-dr","name":"Webhook","webhookId":"tool-doctor"},{"parameters":{"jsCode":"const cp = require('child_process');\ntry {\n  const dockerPs = cp.execSync(\"docker ps -a --format '{{.Names}} {{.Status}}'\").toString();\n  const down = dockerPs.split('\\n').filter(line => line.includes('Exited') || line.includes('Restarting'));\n  let report = \"\";\n  \n  if (down.length > 0) {\n    const results = down.map(line => {\n      const name = line.split(' ')[0];\n      try {\n        cp.execSync(`docker restart ${name}`);\n        return `✅ Reiniciado: ${name}`;\n      } catch (e) {\n        return `❌ Falló reinicio: ${name} (${e.message})`;\n      }\n    });\n    report = `🚨 Problemas detectados:\\n${down.join('\\n')}\\n\\nACCIONES TOMADAS:\\n${results.join('\\n')}`;\n  } else {\n    report = \"✅ Todo en orden. Todos los contenedores están Up.\";\n  }\n  return { json: { output: report } };\n} catch (e) {\n  return { json: { output: \"Error ejecutando el doctor: \" + e.message } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"id":"check-and-fix","name":"Check & Fix"},{"parameters":{"method":"POST","url":"http://localhost:5688/rest/webhooks/sirena-telegram","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"🚨 *LUCY Doctor* 🚨\\n\\n{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,300],"id":"notify-tele","name":"Notify Telegram"}],"connections":{"Webhook":{"main":[[{"node":"Check & Fix","type":"main","index":0}]]},"Check & Fix":{"main":[[{"node":"Notify Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"93a1dc8c-543a-48ae-bc4c-84c63bf2ae2c","activeVersionId":"93a1dc8c-543a-48ae-bc4c-84c63bf2ae2c","versionCounter":64,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-25T05:21:54.416Z","createdAt":"2026-02-25T05:21:54.416Z","role":"workflow:owner","workflowId":"mSjsiVaTv5sfb99E","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T01:23:02.428Z","createdAt":"2026-02-26T00:39:23.663Z","id":"qiN136ZrDDS8Pg2L","name":"Envío Automático de CV a Colegios","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send-cv-api","responseMode":"onReceived","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,300]},{"parameters":{"fileSelector":"/home/lucy-ubuntu/Escritorio/NIN/gmail_cv/data/Mi_Curriculum.pdf","dataPropertyName":"adjunto_cv"},"id":"read-cv-1","name":"Cargar CV Local","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[200,300]},{"parameters":{"fromEmail":"chatjepetex4@gmail.com","toEmail":"={{ $('Webhook').first().json.body.to }}","subject":"Postulación docente - Diego Leonardo Succi","options":{"appendAttachements":false,"attachments":"adjunto_cv"},"html":"={{ $('Webhook').first().json.body.html }}","text":"={{ $('Webhook').first().json.body.text }}","emailFormat":"html"},"id":"smtp-send-1","name":"Enviar Correo SMTP","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[400,300],"credentials":{"smtp":{"id":"Vjq1Vkk3HMWqCsCO","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"Cargar CV Local","type":"main","index":0}]]},"Cargar CV Local":{"main":[[{"node":"Enviar Correo SMTP","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Reloj (8:00 AM L a V)":{"recurrenceRules":[]},"node:Reloj (16:00)":{"recurrenceRules":[]},"node:Reloj (16:28)":{"recurrenceRules":[]},"node:Reloj (16:40)":{"recurrenceRules":[]},"node:Reloj (16:51)":{"recurrenceRules":[]},"node:Reloj (16:53)":{"recurrenceRules":[]},"node:Reloj (17:15)":{"recurrenceRules":[]},"node:Reloj (17:16)":{"recurrenceRules":[]},"node:Reloj (17:20)":{"recurrenceRules":[]},"node:Reloj (17:30)":{"recurrenceRules":[]},"node:Reloj (22:45)":{"recurrenceRules":[]},"node:Reloj (23:15)":{"recurrenceRules":[]},"node:Reloj (23:55)":{"recurrenceRules":[]},"node:Reloj (23:58)":{"recurrenceRules":[]},"node:Reloj (00:35)":{"recurrenceRules":[]},"node:Reloj (00:42)":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aec9b25e-1d09-4a50-a5fe-6bee488c181f","activeVersionId":"aec9b25e-1d09-4a50-a5fe-6bee488c181f","versionCounter":225,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-26T00:39:23.665Z","createdAt":"2026-02-26T00:39:23.665Z","role":"workflow:owner","workflowId":"qiN136ZrDDS8Pg2L","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T05:14:37.983Z","createdAt":"2026-02-27T04:19:01.253Z","id":"8RwngQmsa4ObRh2I","name":"Agente Secreto - Mapeador","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-secreto","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-300,0],"id":"trigger-webhook","name":"Webhook Inicio","webhookId":"agente-secreto-123456"},{"parameters":{"values":{"string":[{"name":"chatInput","value":"={{ $json.body && $json.body.consulta ? $json.body.consulta : ($json.consulta || \"Prueba del agente secreto\") }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[-100,0],"id":"set-node","name":"Formatear Consulta"},{"parameters":{"text":"={{ $json.chatInput }}","options":{"systemMessage":"Eres el Agente Secreto Mapeador de LUCY. Analiza el entorno respondiendo estrictamente a la consulta. Sé MUY BREVE, al grano. Usa tu herramienta de lectura de archivos locales si es necesario."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[100,0],"id":"agent-mapeador","name":"Agente Mapeador"},{"parameters":{"model":"qwen2.5-coder:14b-instruct-q8_0","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[0,200],"id":"ollama-model","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"7l3V3KyozpH1jUVu","name":"Ollama account"}}},{"parameters":{"description":"Herramienta para leer archivos del disco duro.","workflowId":{"__rl":true,"value":"BgVWal7bDgPEy8DYn1Nom","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"={{ $fromAI('input') }}"}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[250,200],"id":"tool-reader","name":"Cerebro Central LUCY"}],"connections":{"Webhook Inicio":{"main":[[{"node":"Formatear Consulta","type":"main","index":0}]]},"Formatear Consulta":{"main":[[{"node":"Agente Mapeador","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Agente Mapeador","type":"ai_languageModel","index":0}]]},"Cerebro Central LUCY":{"ai_tool":[[{"node":"Agente Mapeador","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"cd1b6f79-49c7-4b4f-a423-469c5834c95e","activeVersionId":"cd1b6f79-49c7-4b4f-a423-469c5834c95e","versionCounter":90,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T04:19:01.255Z","createdAt":"2026-02-27T04:19:01.255Z","role":"workflow:owner","workflowId":"8RwngQmsa4ObRh2I","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:58.831Z","createdAt":"2026-02-27T05:09:12.644Z","id":"PIG1XG1R7N4TjG2L","name":"Tool: Lector Archivo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lector-archivo","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-lf","name":"Webhook","webhookId":"lector-archivo"},{"parameters":{"jsCode":"const fs = require('fs');\nconst filePath = ($json.body && $json.body.path) || ($json.path) || '';\nif (!filePath) return [{ json: { output: '❌ Falta el parámetro path' } }];\ntry {\n  const content = fs.readFileSync(filePath, 'utf8');\n  const truncated = content.substring(0, 10000);\n  const suffix = content.length > 10000 ? '\\n\\n[... truncado a 10000 chars ...]' : '';\n  return [{ json: { output: '📄 ' + filePath + ':\\n\\n' + truncated + suffix } }];\n} catch(e) {\n  return [{ json: { output: '❌ Error leyendo archivo: ' + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"read-file","name":"Leer"}],"connections":{"Webhook":{"main":[[{"node":"Leer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"51d528d9-616a-4d2c-a1af-ee1918770573","activeVersionId":"51d528d9-616a-4d2c-a1af-ee1918770573","versionCounter":74,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T05:09:12.645Z","createdAt":"2026-02-27T05:09:12.645Z","role":"workflow:owner","workflowId":"PIG1XG1R7N4TjG2L","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:04:49.940Z","createdAt":"2026-02-27T05:09:14.989Z","id":"bwTZIyK3wDDCTR0S","name":"Tool: Grep Repo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-grep","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-grep","name":"Webhook","webhookId":"agente-grep"},{"parameters":{"jsCode":"const cp = require('child_process');\nconst patron = $json.body.patron;\nconst dir = $json.body.directorio || '/home/lucy-ubuntu/Escritorio/NIN';\ntry {\n  const cmd = `grep -rn \"${patron}\" \"${dir}\" --include='*.py' --include='*.md' --include='*.json' 2>/dev/null | head -50`;\n  const output = cp.execSync(cmd).toString();\n  return { output };\n} catch (e) {\n  return { output: \"No se encontraron resultados o hubo un error.\" };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[50,0],"id":"code-grep","name":"Grep via Code"}],"connections":{"Webhook":{"main":[[{"node":"Grep via Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c47bc954-e838-456d-941b-af665ecf5f9b","activeVersionId":"c47bc954-e838-456d-941b-af665ecf5f9b","versionCounter":66,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T05:09:14.990Z","createdAt":"2026-02-27T05:09:14.990Z","role":"workflow:owner","workflowId":"bwTZIyK3wDDCTR0S","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T20:58:57.213Z","createdAt":"2026-02-27T05:09:16.236Z","id":"sjxo2K1BPdF3LLtG","name":"Tool: System Health","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-sistema","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-sis","name":"Webhook","webhookId":"agente-sistema"},{"parameters":{"jsCode":"const cp = require('child_process');\nconst ram = cp.execSync('free -h | head -2').toString();\nconst cpu = cp.execSync(\"top -bn1 | grep -E 'Cpu'\").toString();\nconst disco = cp.execSync('df -h / | tail -1').toString();\nconst docker = cp.execSync(\"docker ps --format '{{.Names}} {{.Status}}' 2>/dev/null\").toString();\nreturn { output: `--- RAM ---\\n${ram}\\n--- CPU ---\\n${cpu}\\n--- DISCO ---\\n${disco}\\n--- DOCKER ---\\n${docker}` };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[50,0],"id":"code-sis","name":"Stats via Code"}],"connections":{"Webhook":{"main":[[{"node":"Stats via Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"deaaa157-fd65-44c9-b067-8b68a17052c2","activeVersionId":"deaaa157-fd65-44c9-b067-8b68a17052c2","versionCounter":57,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T05:09:16.237Z","createdAt":"2026-02-27T05:09:16.237Z","role":"workflow:owner","workflowId":"sjxo2K1BPdF3LLtG","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:04:50.044Z","createdAt":"2026-02-27T05:09:37.435Z","id":"ua0t8LIeyN5WxWPi","name":"Tool: Repo Scanner","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-escanear","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-scan","name":"Webhook","webhookId":"agente-escanear"},{"parameters":{"jsCode":"const cp = require('child_process');\nconst ruta = $json.body.ruta || '/home/lucy-ubuntu/Escritorio/NIN';\nconst cmd = `find \"${ruta}\" -maxdepth 2 -not -path '*/.git/*' -printf '%y %p\\\\n' 2>/dev/null | head -80`;\nconst output = cp.execSync(cmd).toString();\nreturn { output };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[50,0],"id":"code-scan","name":"Scanner via Code"}],"connections":{"Webhook":{"main":[[{"node":"Scanner via Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a67f7ed9-4675-4c6b-9f20-3b28160a944d","activeVersionId":"a67f7ed9-4675-4c6b-9f20-3b28160a944d","versionCounter":66,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T05:09:37.435Z","createdAt":"2026-02-27T05:09:37.435Z","role":"workflow:owner","workflowId":"ua0t8LIeyN5WxWPi","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T20:58:55.826Z","createdAt":"2026-02-27T05:46:58.864Z","id":"0b3wCNRSmVHeHs41","name":"Tool: Ping","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ping-mcp","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-ping","name":"Webhook","webhookId":"ping-mcp"},{"parameters":{"jsCode":"return { output: \"Pong! Conexion Blindada (SSL Bypass + Output Key Alignment)\" };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[50,0],"id":"code-ping","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fb31642c-fcdb-469b-8f9a-5bf9088c8ff2","activeVersionId":"fb31642c-fcdb-469b-8f9a-5bf9088c8ff2","versionCounter":59,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T05:46:58.866Z","createdAt":"2026-02-27T05:46:58.866Z","role":"workflow:owner","workflowId":"0b3wCNRSmVHeHs41","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T05:28:16.327Z","createdAt":"2026-02-27T06:12:57.725Z","id":"HNQ5b1fTiIPCvC3X","name":"Sync: Memoria a Google Drive","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-400,0],"id":"trigger-sync","name":"Cada 30 min"},{"parameters":{"fileSelector":"/home/lucy-ubuntu/Escritorio/NIN/memoria/bitacora.md"},"type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-200,0],"id":"read-bitacora","name":"Leer Bitacora"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"upload","fileName":"bitacora_nin.md","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[50,0],"id":"upload-drive","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ZpjTlDInDqs6MZ8z","name":"Google Drive account"}}}],"connections":{"Cada 30 min":{"main":[[{"node":"Leer Bitacora","type":"main","index":0}]]},"Leer Bitacora":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"097f7318-e52a-4aca-8863-df8829a6577f","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-27T06:12:57.726Z","createdAt":"2026-02-27T06:12:57.726Z","role":"workflow:owner","workflowId":"HNQ5b1fTiIPCvC3X","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:59.203Z","createdAt":"2026-02-27T21:27:52.026Z","id":"96WD19sZRmEpiGiv","name":"Tool: Noticias IA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"noticias-ia","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,0],"id":"wh-noticias","name":"Webhook","webhookId":"noticias-ia"},{"parameters":{"url":"=http://searxng-lucy:8080/search?q={{ encodeURIComponent($json.body.query || 'inteligencia artificial noticias hoy') }}&format=json&time_range=day&categories=news&language=es-AR","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-100,0],"id":"searxng-req","name":"SearXNG Search"},{"parameters":{"jsCode":"const results = ($input.first().json.results || []).slice(0, 10);\nconst today = new Date().toISOString().split('T')[0];\nconst formatted = results.map((r, i) =>\n  (i+1) + '. ' + r.title + '\\n   ' + (r.content || '') + '\\n   URL: ' + r.url\n).join('\\n\\n');\nreturn [{ json: { output: 'Noticias de IA — ' + today + '\\n\\n' + (formatted || 'No se encontraron resultados.') } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"id":"format-results","name":"Formatear"}],"connections":{"Webhook":{"main":[[{"node":"SearXNG Search","type":"main","index":0}]]},"SearXNG Search":{"main":[[{"node":"Formatear","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"14ab2338-2702-436f-9432-75bc914cf79c","activeVersionId":"14ab2338-2702-436f-9432-75bc914cf79c","versionCounter":78,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T21:27:52.029Z","createdAt":"2026-02-27T21:27:52.029Z","role":"workflow:owner","workflowId":"96WD19sZRmEpiGiv","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:04:50.138Z","createdAt":"2026-02-27T22:18:06.380Z","id":"lW8Pg8Mo40V9zySd","name":"Tool: Escribir en Búnker","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"escribir-bunker","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-bunker","name":"Webhook","webhookId":"escribir-bunker"},{"parameters":{"jsCode":"const fs = require(\"fs\");\nconst path = \"/mnt/Cerebro/\" + ($json.body.filename || \"nota_\" + Date.now()) + \".md\";\ntry {\n  fs.writeFileSync(path, $json.body.content || \"Nota vacía\");\n  return [{ json: { output: \"✅ Archivo guardado con éxito en \" + path } }];\n} catch (e) {\n  return [{ json: { output: \"❌ Error guardando archivo: \" + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"write-bunker","name":"Escribir"}],"connections":{"Webhook":{"main":[[{"node":"Escribir","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d632048d-cb79-414a-a124-1b35a0d34a95","activeVersionId":"d632048d-cb79-414a-a124-1b35a0d34a95","versionCounter":62,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:18:06.381Z","createdAt":"2026-02-27T22:18:06.381Z","role":"workflow:owner","workflowId":"lW8Pg8Mo40V9zySd","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:59.571Z","createdAt":"2026-02-27T22:18:06.547Z","id":"39Z9puqMgG73q9cE","name":"Tool: Administrador de APIs","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tool-admin-api","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-api","name":"Webhook","webhookId":"tool-admin-api"},{"parameters":{"jsCode":"const http = require('http');\nconst https = require('https');\nconst body = $json.body || $json;\nconst method = (body.method || 'GET').toUpperCase();\nconst url = body.url || '';\nconst headers = body.headers || {};\nconst reqBody = body.body || null;\n\nif (!url) return [{ json: { output: '❌ Falta el parámetro url' } }];\n\nreturn new Promise((resolve) => {\n  const lib = url.startsWith('https') ? https : http;\n  const opts = { method, headers: { ...headers, 'User-Agent': 'NIN-Agent/1.0' } };\n  const req = lib.request(url, opts, (res) => {\n    let data = '';\n    res.on('data', (chunk) => data += chunk);\n    res.on('end', () => {\n      resolve([{ json: { output: `HTTP ${res.statusCode}\\n\\n${data.substring(0, 8000)}` } }]);\n    });\n  });\n  req.on('error', (e) => resolve([{ json: { output: '❌ Error: ' + e.message } }]));\n  if (reqBody) req.write(typeof reqBody === 'string' ? reqBody : JSON.stringify(reqBody));\n  req.end();\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"exec-api","name":"Ejecutar API"}],"connections":{"Webhook":{"main":[[{"node":"Ejecutar API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"413f70c9-43c0-48e4-88bb-b17ae31a42c2","activeVersionId":"413f70c9-43c0-48e4-88bb-b17ae31a42c2","versionCounter":65,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:18:06.549Z","createdAt":"2026-02-27T22:18:06.549Z","role":"workflow:owner","workflowId":"39Z9puqMgG73q9cE","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T05:14:38.057Z","createdAt":"2026-02-27T22:18:06.727Z","id":"IHfBIXELwr3us22J","name":"Tool: Scraping Profundo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scrape-web","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-scrape","name":"Webhook","webhookId":"scrape-web"},{"parameters":{"url":"={{ 'https://r.jina.ai/' + ($json.body.url || $json.kwargs || 'https://example.com') }}","options":{}},"id":"code-scrape","name":"Python Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[50,0]}],"connections":{"Webhook":{"main":[[{"node":"Python Scrape","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"09974587-89c7-48da-800b-0b03795d8345","activeVersionId":"09974587-89c7-48da-800b-0b03795d8345","versionCounter":101,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:18:06.728Z","createdAt":"2026-02-27T22:18:06.728Z","role":"workflow:owner","workflowId":"IHfBIXELwr3us22J","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:59.935Z","createdAt":"2026-02-27T22:18:06.898Z","id":"vjdwCqRIL0f1ICfd","name":"Tool: Control Docker Avanzado","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tool-docker-control","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-docker","name":"Webhook","webhookId":"tool-docker-control"},{"parameters":{"jsCode":"const cp = require('child_process');\nconst body = $json.body || $json;\nconst action = body.action || 'ps';\nconst container = body.container || '';\nconst NIN_CONTAINERS = new Set(['n8n-lucy', 'qdrant-lucy', 'searxng-lucy']);\n\ntry {\n  if (action === 'ps' || action === 'status') {\n    const out = cp.execSync('docker ps -a --format \"{{.Names}}\\t{{.Status}}\"').toString();\n    return [{ json: { output: '🐳 Contenedores:\\n' + out } }];\n  }\n  if (['restart', 'stop', 'start', 'logs'].includes(action)) {\n    if (!container) return [{ json: { output: '❌ Falta el parámetro container' } }];\n    if (!NIN_CONTAINERS.has(container)) return [{ json: { output: '⛔ Solo puedo operar contenedores NIN: ' + [...NIN_CONTAINERS].join(', ') } }];\n    if (action === 'logs') {\n      const out = cp.execSync(`docker logs --tail 50 ${container}`).toString();\n      return [{ json: { output: '📋 Logs de ' + container + ':\\n' + out } }];\n    }\n    cp.execSync(`docker ${action} ${container}`);\n    return [{ json: { output: '✅ ' + action + ' exitoso: ' + container } }];\n  }\n  return [{ json: { output: '❌ Acción desconocida: ' + action + '. Usa: ps, restart, stop, start, logs' } }];\n} catch(e) {\n  return [{ json: { output: '❌ Error: ' + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"docker-ctl","name":"Docker Control"}],"connections":{"Webhook":{"main":[[{"node":"Docker Control","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0ec19a11-a726-48e9-9b7f-cff2ec2d00cd","activeVersionId":"0ec19a11-a726-48e9-9b7f-cff2ec2d00cd","versionCounter":56,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:18:06.899Z","createdAt":"2026-02-27T22:18:06.899Z","role":"workflow:owner","workflowId":"vjdwCqRIL0f1ICfd","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:21:33.992Z","createdAt":"2026-02-27T22:19:42.573Z","id":"lKxnlPG9Y5L190fI","name":"Tool: Ejecutor Python Aislado","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"python-exec","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-py","name":"Webhook","webhookId":"python-exec"},{"parameters":{"jsCode":"const cp = require('child_process');\nconst fs = require('fs');\nconst code = ($json.body && $json.body.code) || '';\nif (!code) return [{json:{output:'Falta code'}}];\nconst tmpFile = '/home/lucy-ubuntu/Escritorio/NIN/data/tmp_script_' + Date.now() + '.py';\nfs.writeFileSync(tmpFile, code);\ntry {\n  const out = cp.execSync('docker run --rm -v ' + tmpFile + ':' + tmpFile + ' python:3.9-slim python ' + tmpFile, {timeout:30000}).toString();\n  try{fs.unlinkSync(tmpFile)}catch(e){}\n  return [{json:{output:'OK:\\n' + (out||'(sin output)')}}];\n} catch(e) {\n  try{fs.unlinkSync(tmpFile)}catch(err){}\n  return [{json:{output:'Error:\\n'+(e.stderr?e.stderr.toString():e.message)}}];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"exec-py","name":"Ejecutar Python"}],"connections":{"Webhook":{"main":[[{"node":"Ejecutar Python","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"186d2f29-b3cb-4ed2-939a-6f404b320307","activeVersionId":"186d2f29-b3cb-4ed2-939a-6f404b320307","versionCounter":83,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:19:42.574Z","createdAt":"2026-02-27T22:19:42.574Z","role":"workflow:owner","workflowId":"lKxnlPG9Y5L190fI","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:04:49.746Z","createdAt":"2026-02-27T22:19:42.759Z","id":"LUOLloOSxJ1J19he","name":"Tool: Analizar Repositorios Github","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"github-analyze","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-gh","name":"Webhook","webhookId":"github-analyze"},{"parameters":{"jsCode":"const cp = require(\"child_process\");\nconst url = $json.body.url;\nif (!url || !url.includes(\"github.com\")) return [{ json: { output: \"❌ URL de GitHub inválida\" } }];\n\nconst dir = \"/tmp/repo_\" + Date.now();\ntry {\n  cp.execSync(`git clone --depth 1 ${url} ${dir}`);\n  const mds = cp.execSync(`find ${dir} -maxdepth 3 -name \"*.md\" -exec cat {} + | head -c 20000`).toString();\n  const packageJson = cp.execSync(`cat ${dir}/package.json 2>/dev/null || echo \"\"`).toString();\n  const reqTxt = cp.execSync(`cat ${dir}/requirements.txt 2>/dev/null || echo \"\"`).toString();\n  cp.execSync(`rm -rf ${dir}`);\n  return [{ json: { output: `✅ Repo analizado:\\n\\n=== Dependencias JS ===\\n${packageJson.substring(0, 500)}\\n\\n=== Dependencias Python ===\\n${reqTxt.substring(0, 500)}\\n\\n=== Archivos Markdown (Extracto) ===\\n${mds}` } }];\n} catch(e) {\n  try { cp.execSync(`rm -rf ${dir}`); } catch(err){}\n  return [{ json: { output: `❌ Error analizando repo: ` + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"exec-gh","name":"Clonar y Extraer"}],"connections":{"Webhook":{"main":[[{"node":"Clonar y Extraer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"78bf6822-2aac-4113-9af4-7ecf5e3d0061","activeVersionId":"78bf6822-2aac-4113-9af4-7ecf5e3d0061","versionCounter":62,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:19:42.759Z","createdAt":"2026-02-27T22:19:42.759Z","role":"workflow:owner","workflowId":"LUOLloOSxJ1J19he","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-06T19:57:49.507Z","createdAt":"2026-02-27T22:21:03.735Z","id":"WrslsGzYsDP8hJZT","name":"NIN | Telegram Service (Unified)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sirena-telegram","responseMode":"onReceived","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"wh-tele","name":"Webhook","webhookId":"sirena-telegram"},{"parameters":{"assignments":{"assignments":[{"id":"text-id","name":"message_text","value":"={{ $json.body.message || $json.body.mensaje || $json.body.text || 'Alerta NiN indefinida' }}","type":"string"}]},"options":{}},"id":"format-message","name":"Format Message","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8235094378:AAG-EKXPVUjmXGTZQigDIxyciWqlNMsJ8oA/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"5154360597\",\n  \"text\": \"{{ $json.message_text }}\",\n  \"parse_mode\": \"Markdown\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,300],"id":"send-tele","name":"Telegram API"}],"connections":{"Webhook":{"main":[[{"node":"Format Message","type":"main","index":0}]]},"Format Message":{"main":[[{"node":"Telegram API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ce978aba-1196-431e-b29a-55de2ceecdd9","activeVersionId":"ce978aba-1196-431e-b29a-55de2ceecdd9","versionCounter":111,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:21:03.736Z","createdAt":"2026-02-27T22:21:03.736Z","role":"workflow:owner","workflowId":"WrslsGzYsDP8hJZT","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T05:28:19.273Z","createdAt":"2026-02-27T22:21:03.865Z","id":"VECcVTgV1quBT4Tr","name":"Tool: Lector de Bandeja (Email)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lector-email","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-300,0],"id":"wh-email","name":"Webhook","webhookId":"lector-email"},{"parameters":{"operation":"getMany","folder":"INBOX","dataProperty":"emails","downloadAttachments":false,"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-50,0],"id":"imap-read","name":"Email Read Imap","credentials":{"imap":{"id":"PENDING","name":"Imap account"}}},{"parameters":{"jsCode":"return [{ json: { output: \"📨 Bandeja Leída. Por favor activa tus credenciales IMAP en n8n.\" } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"id":"format-email","name":"Formatear"}],"connections":{"Webhook":{"main":[[{"node":"Email Read Imap","type":"main","index":0}]]},"Email Read Imap":{"main":[[{"node":"Formatear","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7b07af15-3d0b-4214-94ba-29a3e213a791","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:21:03.866Z","createdAt":"2026-02-27T22:21:03.866Z","role":"workflow:owner","workflowId":"VECcVTgV1quBT4Tr","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T20:58:56.909Z","createdAt":"2026-02-27T22:21:03.966Z","id":"kM6LOnlVlrnNJKbz","name":"Tool: Agendador de Eventos","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agendador","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-300,0],"id":"wh-cal","name":"Webhook","webhookId":"agendador"},{"parameters":{"resource":"event","operation":"create","calendar":"primary","start":"={{ $json.body.start }}","end":"={{ $json.body.end }}","summary":"={{ $json.body.title }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[0,0],"id":"gcal","name":"Google Calendar"}],"connections":{"Webhook":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"211595c8-ca9b-46b5-b9bb-328fdaa12796","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:21:03.966Z","createdAt":"2026-02-27T22:21:03.966Z","role":"workflow:owner","workflowId":"kM6LOnlVlrnNJKbz","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:04:50.222Z","createdAt":"2026-02-27T22:21:04.101Z","id":"nA33fg30wmbOxyiP","name":"Tool: Vigía de Redes Sociales","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"vigia-social","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-300,0],"id":"wh-social","name":"Webhook","webhookId":"vigia-social"},{"parameters":{"url":"https://www.reddit.com/r/n8n/new.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-100,0],"id":"req-reddit","name":"HTTP Request"},{"parameters":{"jsCode":"const posts = $input.first().json.data.children || [];\nlet found = posts.filter(p => p.data.title.toLowerCase().includes(\"bug\"));\nreturn [{ json: { output: `🕵️ Vigía Reporta: ${found.length} posts con la palabra \"bug\" en r/n8n.` } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[150,0],"id":"filter-social","name":"Filtrar"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filtrar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1e33ff44-ae8a-4512-854b-fa15f451bed0","activeVersionId":"1e33ff44-ae8a-4512-854b-fa15f451bed0","versionCounter":62,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T22:21:04.102Z","createdAt":"2026-02-27T22:21:04.102Z","role":"workflow:owner","workflowId":"nA33fg30wmbOxyiP","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:57.341Z","createdAt":"2026-02-27T23:49:28.817Z","id":"4ZJp4rtlEtGABrVR","name":"Tool: Memory Search","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"memory-search","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-ms","name":"Webhook","webhookId":"memory-search"},{"parameters":{"jsCode":"const fs = require('fs');\nconst query = ($json.body && $json.body.query) || ($json.query) || '';\nconst dbPath = '/home/lucy-ubuntu/Escritorio/NIN/memoria/agente_memoria.db'.replace('agente_memoria.db', 'memory_store.json');\ntry {\n  let store = {};\n  if (fs.existsSync(dbPath)) store = JSON.parse(fs.readFileSync(dbPath, 'utf8'));\n  const results = Object.entries(store)\n    .filter(([k, v]) => k.includes(query) || (v.value && v.value.includes(query)))\n    .sort((a, b) => (b[1].score || 1) - (a[1].score || 1))\n    .slice(0, 5);\n  if (results.length === 0) return [{ json: { output: '🔍 No se encontró memoria previa para: ' + query, found: false } }];\n  const formatted = results.map(([k, v]) => `• ${k}: ${v.value} (score: ${v.score || 1})`).join('\\n');\n  return [{ json: { output: '🧠 Memorias encontradas:\\n' + formatted, found: true } }];\n} catch(e) {\n  return [{ json: { output: '❌ Error: ' + e.message, found: false } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"search-mem","name":"Buscar"}],"connections":{"Webhook":{"main":[[{"node":"Buscar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a6e07617-2fc5-4302-a94b-769d4045fed6","activeVersionId":"a6e07617-2fc5-4302-a94b-769d4045fed6","versionCounter":65,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T23:49:28.818Z","createdAt":"2026-02-27T23:49:28.818Z","role":"workflow:owner","workflowId":"4ZJp4rtlEtGABrVR","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:57.724Z","createdAt":"2026-02-27T23:49:28.870Z","id":"6phhfYeHlIKp68wB","name":"Tool: Memory Upsert","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"memory-upsert","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-mu","name":"Webhook","webhookId":"memory-upsert"},{"parameters":{"jsCode":"const fs = require('fs');\nconst key = ($json.body && $json.body.key) || ($json.key) || '';\nconst value = ($json.body && $json.body.value) || ($json.value) || '';\nconst dbPath = '/home/lucy-ubuntu/Escritorio/NIN/memoria/agente_memoria.db'.replace('agente_memoria.db', 'memory_store.json');\ntry {\n  let store = {};\n  if (fs.existsSync(dbPath)) store = JSON.parse(fs.readFileSync(dbPath, 'utf8'));\n  store[key] = { value, score: (store[key] && store[key].score) || 1.0, updated_at: new Date().toISOString() };\n  fs.writeFileSync(dbPath, JSON.stringify(store, null, 2));\n  return [{ json: { output: '✅ Memoria guardada: ' + key } }];\n} catch(e) {\n  return [{ json: { output: '❌ Error: ' + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"upsert-mem","name":"Guardar"}],"connections":{"Webhook":{"main":[[{"node":"Guardar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e3c7775f-c252-42ff-949c-4fe7547e42b7","activeVersionId":"e3c7775f-c252-42ff-949c-4fe7547e42b7","versionCounter":65,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T23:49:28.871Z","createdAt":"2026-02-27T23:49:28.871Z","role":"workflow:owner","workflowId":"6phhfYeHlIKp68wB","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:58.458Z","createdAt":"2026-02-27T23:49:28.945Z","id":"cybAFwjPia5CZIqo","name":"Tool: Memory Feedback","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"memory-feedback","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-mf","name":"Webhook","webhookId":"memory-feedback"},{"parameters":{"jsCode":"const fs = require('fs');\nconst key = ($json.body && $json.body.key) || ($json.key) || '';\nconst feedback = ($json.body && $json.body.feedback) || ($json.feedback) || 'positive';\nconst dbPath = '/home/lucy-ubuntu/Escritorio/NIN/memoria/agente_memoria.db'.replace('agente_memoria.db', 'memory_store.json');\ntry {\n  let store = {};\n  if (fs.existsSync(dbPath)) store = JSON.parse(fs.readFileSync(dbPath, 'utf8'));\n  if (store[key]) {\n    const delta = feedback === 'positive' ? 0.5 : -0.3;\n    store[key].score = Math.max(0, (store[key].score || 1) + delta);\n    store[key].last_feedback = new Date().toISOString();\n    fs.writeFileSync(dbPath, JSON.stringify(store, null, 2));\n    return [{ json: { output: '✅ Feedback registrado para: ' + key + ' (score: ' + store[key].score + ')' } }];\n  }\n  return [{ json: { output: '🔍 No se encontró: ' + key } }];\n} catch(e) {\n  return [{ json: { output: '❌ Error: ' + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"feedback-mem","name":"Feedback"}],"connections":{"Webhook":{"main":[[{"node":"Feedback","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b516abf5-e283-4f46-a95c-1521d6f7b27c","activeVersionId":"b516abf5-e283-4f46-a95c-1521d6f7b27c","versionCounter":65,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T23:49:28.946Z","createdAt":"2026-02-27T23:49:28.946Z","role":"workflow:owner","workflowId":"cybAFwjPia5CZIqo","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-28T21:13:58.091Z","createdAt":"2026-02-27T23:49:28.991Z","id":"8rPMTJ51eUHHtl4V","name":"Tool: Memory Apply","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"memory-apply","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-ma","name":"Webhook","webhookId":"memory-apply"},{"parameters":{"jsCode":"const fs = require('fs');\nconst key = ($json.body && $json.body.key) || ($json.key) || '';\nconst dbPath = '/home/lucy-ubuntu/Escritorio/NIN/memoria/agente_memoria.db'.replace('agente_memoria.db', 'memory_store.json');\ntry {\n  let store = {};\n  if (fs.existsSync(dbPath)) store = JSON.parse(fs.readFileSync(dbPath, 'utf8'));\n  if (store[key]) {\n    store[key].score = (store[key].score || 1) + 0.5;\n    store[key].last_applied = new Date().toISOString();\n    fs.writeFileSync(dbPath, JSON.stringify(store, null, 2));\n    return [{ json: { output: '✅ Memoria aplicada: ' + key + '\\n' + store[key].value } }];\n  }\n  return [{ json: { output: '🔍 No se encontró: ' + key } }];\n} catch(e) {\n  return [{ json: { output: '❌ Error: ' + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"apply-mem","name":"Aplicar"}],"connections":{"Webhook":{"main":[[{"node":"Aplicar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"816fe222-8e9b-40c1-af90-06a8b7a57865","activeVersionId":"816fe222-8e9b-40c1-af90-06a8b7a57865","versionCounter":65,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T23:49:28.992Z","createdAt":"2026-02-27T23:49:28.992Z","role":"workflow:owner","workflowId":"8rPMTJ51eUHHtl4V","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-01T04:05:54.641Z","createdAt":"2026-02-28T23:43:32.477Z","id":"JtGILLT7wIAzBrVs","name":"Tool: Research Colmena","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"research-colmena","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,0],"id":"wh-research","name":"Webhook","webhookId":"research-colmena"},{"parameters":{"jsCode":"const url = items[0].json.url || items[0].json.body?.url;\nif (!url) return [{ json: { url: \"N/A\", transcript: \"No URL provided for research.\" } }];\n\nfunction getID(u) {\n    const r = /(?:v=|\\/)([0-9A-Za-z_-]{11}).*/;\n    const m = u.match(r);\n    return m ? m[1] : null;\n}\nlet t = \"General web link.\";\nif (url && url.indexOf('youtube') !== -1) {\n    const id = getID(url);\n    if (id) t = \"YouTube ID: \" + id + \" (Legacy JS)\";\n}\nreturn [{ json: { url: url, transcript: t } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,0],"id":"code-fetcher","name":"Fetch Source"},{"parameters":{"authentication":"oAuth2","requestMethod":"POST","url":"https://www.googleapis.com/upload/drive/v3/files?uploadType=media","jsonParameters":true,"options":{"headerParametersUI":{"parameter":[{"name":"Content-Type","value":"text/plain"}]}},"bodyParametersUI":{"parameter":[{"name":"data","value":"={{$node[\"Fetch Source\"].json[\"transcript\"]}}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[50,0],"id":"upload-drive-http","name":"Upload to Drive","credentials":{"googleDriveOAuth2Api":{"id":"ZpjTlDInDqs6MZ8z","name":"Google Drive account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch Source","type":"main","index":0}]]},"Fetch Source":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"5f1ba7c9-0de5-4ba1-a6df-45e6e08a8d17","activeVersionId":"5f1ba7c9-0de5-4ba1-a6df-45e6e08a8d17","versionCounter":63,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-28T23:43:32.479Z","createdAt":"2026-02-28T23:43:32.479Z","role":"workflow:owner","workflowId":"JtGILLT7wIAzBrVs","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-01T04:05:54.661Z","createdAt":"2026-03-01T01:06:46.400Z","id":"VFzrIjk5iJW0yueV","name":"Tool: Consultar Colmena","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consultar-colmena","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,0],"id":"wh-consult","name":"Webhook","webhookId":"consultar-colmena"},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key=AIzaSyAPbfPtq-q35ixuc3xu1U_7txnEeRO1Jhs","sendBody":true,"bodyParameters":{"parameters":[{"name":"contents","value":"={{[{ 'parts': [{ 'text': ($json.body && $json.body.query) ? $json.body.query : 'Por favor responde SOLO con la palabra PING.' }] }]}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-200,0],"id":"http-gemini","name":"Google Gemini (Raw API)"}],"connections":{"Webhook":{"main":[[{"node":"Google Gemini (Raw API)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1e10fdfa-bd01-4672-b342-74f342ef1dbf","activeVersionId":"1e10fdfa-bd01-4672-b342-74f342ef1dbf","versionCounter":49,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-01T01:06:46.402Z","createdAt":"2026-03-01T01:06:46.402Z","role":"workflow:owner","workflowId":"VFzrIjk5iJW0yueV","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-01T04:01:22.181Z","createdAt":"2026-03-01T04:01:22.181Z","id":"gI3hnliiHUAu4C6i","name":"Tool: Groq Fast Processor","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"groq-fast","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"wh-groq","webhookId":"groq-fast","name":"Webhook"},{"parameters":{"jsCode":"const https = require('https');\nconst prompt = items[0].json.prompt || 'Hola';\nconst apiKey = 'GROQ_API_KEY_PROTECTED';\n\nconst data = JSON.stringify({\n  model: 'llama-3.3-70b-versatile',\n  messages: [{ role: 'user', content: prompt }]\n});\n\nconst options = {\n  hostname: 'api.groq.com',\n  port: 443,\n  path: '/openai/v1/chat/completions', \n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Content-Length': data.length\n  }\n};\n\nreturn new Promise((resolve) => {\n  const req = https.request(options, (res) => {\n    let body = '';\n    res.on('data', (d) => body += d);\n    res.on('end', () => {\n      try { resolve([{ json: JSON.parse(body) }]); } \n      catch (e) { resolve([{ json: { error: 'Parse Error', raw: body } }]); }\n    });\n  });\n  req.on('error', (e) => resolve([{ json: { error: e.message } }]));\n  req.write(data);\n  req.end();\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"code-groq"}],"connections":{"wh-groq":{"main":[[{"node":"code-groq","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"52f69098-ae64-4ba7-bdd9-bbbef0e2010b","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-01T04:01:22.183Z","createdAt":"2026-03-01T04:01:22.183Z","role":"workflow:owner","workflowId":"gI3hnliiHUAu4C6i","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T05:28:19.345Z","createdAt":"2026-03-01T04:01:22.213Z","id":"7rPrOWBub9enS290","name":"Tool: Tavily Advanced Search","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tavily-search","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"wh-tavily","webhookId":"tavily-search","name":"Webhook"},{"parameters":{"jsCode":"const https = require('https');\nconst query = $json.body.query || $json.body.kwargs || 'n8n news';\nconst apiKey = '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';\nconst data = JSON.stringify({api_key: apiKey, query: query, search_depth: 'advanced', include_answer: true});\nconst options = {hostname: 'api.tavily.com', port: 443, path: '/search', method: 'POST', headers: {'Content-Type': 'application/json', 'Content-Length': data.length}};\nreturn new Promise((resolve) => {\n  const req = https.request(options, (res) => {\n    let body = '';\n    res.on('data', (d) => body += d);\n    res.on('end', () => { try { resolve([{ json: JSON.parse(body) }]); } catch (e) { resolve([{ json: { error: 'Parse Error', raw: body } }]); } });\n  });\n  req.on('error', (e) => resolve([{ json: { error: e.message } }]));\n  req.write(data);\n  req.end();\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"code-tavily","name":"Busqueda Tavily"}],"connections":{"wh-tavily":{"main":[[{"node":"code-tavily","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"a9781496-e06b-45bb-a147-92446fe44c33","activeVersionId":"a9781496-e06b-45bb-a147-92446fe44c33","versionCounter":41,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-01T04:01:22.214Z","createdAt":"2026-03-01T04:01:22.214Z","role":"workflow:owner","workflowId":"7rPrOWBub9enS290","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-01T06:46:34.223Z","createdAt":"2026-03-01T06:46:34.223Z","id":"ZC6BaKzLcHDhb4Ty","name":"Tool: Consultar Grafo NiN","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consultar-grafo","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"wh-graph","webhookId":"consultar-grafo","name":"Webhook"},{"parameters":{"jsCode":"const https = require('http');\nconst query = items[0].json.query || '';\n\nconst data = JSON.stringify({\n  filter: {\n    must: [\n      {\n        key: 'text',\n        match: {\n          text: query\n        }\n      }\n    ]\n  },\n  limit: 10\n});\n\nconst options = {\n  hostname: '127.0.0.1',\n  port: 6335,\n  path: '/collections/nin_knowledge_graph/points/scroll',\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Content-Length': data.length\n  }\n};\n\nreturn new Promise((resolve) => {\n  const req = https.request(options, (res) => {\n    let body = '';\n    res.on('data', (d) => body += d);\n    res.on('end', () => {\n      try {\n        const result = JSON.parse(body);\n        const relations = result.result.points.map(p => p.payload);\n        resolve([{ json: { relations: relations } }]);\n      } catch (e) {\n        resolve([{ json: { error: 'Parse Error', raw: body } }]);\n      }\n    });\n  });\n  req.on('error', (e) => resolve([{ json: { error: e.message } }]));\n  req.write(data);\n  req.end();\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"code-graph","name":"Query Qdrant"}],"connections":{"wh-graph":{"main":[[{"node":"code-graph","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"8edabf0b-642d-4442-afcd-a92e4d1d1af8","activeVersionId":"8edabf0b-642d-4442-afcd-a92e4d1d1af8","versionCounter":37,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-01T06:46:34.225Z","createdAt":"2026-03-01T06:46:34.225Z","role":"workflow:owner","workflowId":"ZC6BaKzLcHDhb4Ty","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T20:44:14.350Z","createdAt":"2026-03-02T07:11:09.890Z","id":"b0QtaKcqH5I0WLYk","name":"Tool: YouTube Search","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"youtube-search","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,0],"id":"wh-yt-search","name":"Webhook","webhookId":"youtube-search"},{"parameters":{},"id":"manual-trigger-yt","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,200]},{"parameters":{"url":"=http://searxng-lucy:8080/search?q={{ encodeURIComponent($json.body.query || 'n8n automation') }}&format=json&engines=youtube","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-100,0],"id":"searxng-yt","name":"SearXNG YouTube"},{"parameters":{"jsCode":"const results = ($input.first().json.results || []).slice(0, 10);\nconst formatted = results.map((r, i) =>\n  (i+1) + '. ' + r.title + '\\n   URL: ' + r.url\n).join('\\n\\n');\nreturn [{ json: { output: 'Resultados de YouTube:\\n\\n' + (formatted || 'No se encontraron videos.') } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"id":"format-yt","name":"Formatear"}],"connections":{"Webhook":{"main":[[{"node":"SearXNG YouTube","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"SearXNG YouTube","type":"main","index":0}]]},"SearXNG YouTube":{"main":[[{"node":"Formatear","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"af471d51-29f2-49ce-aa83-acdd5e7841b1","activeVersionId":"af471d51-29f2-49ce-aa83-acdd5e7841b1","versionCounter":42,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-02T07:11:09.891Z","createdAt":"2026-03-02T07:11:09.891Z","role":"workflow:owner","workflowId":"b0QtaKcqH5I0WLYk","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T07:36:30.309Z","createdAt":"2026-03-02T07:36:30.309Z","id":"WEZP1Efd0jxRYn05","name":"Tool: Reproductor de Video","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"video-player","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-video","name":"Webhook","webhookId":"video-player"},{"parameters":{"jsCode":"const cp = require('child_process');\nconst url = ($json.body && $json.body.url) || '';\nif (!url) return [{ json: { output: '❌ Falta el parámetro url' } }];\n\ntry {\n  // Escape docker container to host GUI using nsenter via mounted docker socket\n  const cmd = `docker run --rm --pid=host --privileged alpine nsenter -t 1 -m -u -n -i su - lucy-ubuntu -c \"export DISPLAY=:0; xdg-open '${url}'\"`;\n  cp.execSync(cmd, { timeout: 15000 });\n  return [{ json: { output: '▶️ Abriendo video en el host: ' + url } }];\n} catch(e) {\n  return [{ json: { output: '❌ Error al abrir video: ' + e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"play-video","name":"Reproducir"}],"connections":{"Webhook":{"main":[[{"node":"Reproducir","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c5a21237-c39b-49b0-8abe-12a18371ed77","activeVersionId":null,"versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-02T07:36:30.310Z","createdAt":"2026-03-02T07:36:30.310Z","role":"workflow:owner","workflowId":"WEZP1Efd0jxRYn05","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T21:38:08.091Z","createdAt":"2026-03-02T21:38:08.091Z","id":"vvRMUMOuwDCOwuXc","name":"Tool: Groq Fast Processor","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"groq-fast","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"wh-groq","webhookId":"wh-wh-groq","name":"Webhook"},{"parameters":{"jsCode":"const https = require('https');\nconst prompt = items[0].json.prompt || 'Hola';\nconst apiKey = 'GROQ_API_KEY_PROTECTED';\n\nconst data = JSON.stringify({\n  model: 'llama-3.3-70b-versatile',\n  messages: [{ role: 'user', content: prompt }]\n});\n\nconst options = {\n  hostname: 'api.groq.com',\n  port: 443,\n  path: '/openai/v1/chat/completions', \n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Content-Length': data.length\n  }\n};\n\nreturn new Promise((resolve) => {\n  const req = https.request(options, (res) => {\n    let body = '';\n    res.on('data', (d) => body += d);\n    res.on('end', () => {\n      try { resolve([{ json: JSON.parse(body) }]); } \n      catch (e) { resolve([{ json: { error: 'Parse Error', raw: body } }]); }\n    });\n  });\n  req.on('error', (e) => resolve([{ json: { error: e.message } }]));\n  req.write(data);\n  req.end();\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"code-groq"}],"connections":{"wh-groq":{"main":[[{"node":"code-groq","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a8e246a1-f4c4-4b96-b6de-64c8ff8d5adb","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-02T21:38:08.093Z","createdAt":"2026-03-02T21:38:08.093Z","role":"workflow:owner","workflowId":"vvRMUMOuwDCOwuXc","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T21:38:08.148Z","createdAt":"2026-03-02T21:38:08.148Z","id":"U4wFOzJOqNyM0fjl","name":"Tool: Hugging Face Universal","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"hf-inference","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"wh-hf","webhookId":"wh-wh-hf","name":"Webhook"},{"parameters":{"jsCode":"const https = require('https');\nconst defaultModel = 'distilbert-base-uncased-finetuned-sst-2-english';\nconst modelId = (items[0].json && items[0].json.model_id) ? items[0].json.model_id : defaultModel;\nconst payload = (items[0].json && items[0].json.payload) ? items[0].json.payload : { inputs: 'I love you' };\nconst apiKey = 'HF_API_KEY_PROTECTED';\n\nconst data = JSON.stringify(payload);\nconst options = {\n  hostname: 'router.huggingface.co',\n  port: 443,\n  path: '/hf-inference/models/' + modelId, \n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(data)\n  }\n};\n\nreturn new Promise((resolve) => {\n  const req = https.request(options, (res) => {\n    let body = '';\n    res.on('data', (d) => body += d);\n    res.on('end', () => {\n      try { resolve([{ json: JSON.parse(body) }]); } \n      catch (e) { resolve([{ json: { error: 'Parse Error', raw: body } }]); }\n    });\n  });\n  req.on('error', (e) => resolve([{ json: { error: e.message } }]));\n  req.write(data);\n  req.end();\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"code-hf"}],"connections":{"wh-hf":{"main":[[{"node":"code-hf","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"009fcaa4-fd22-4dc9-9d4a-422637a75dce","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-02T21:38:08.149Z","createdAt":"2026-03-02T21:38:08.149Z","role":"workflow:owner","workflowId":"U4wFOzJOqNyM0fjl","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T21:38:08.176Z","createdAt":"2026-03-02T21:38:08.176Z","id":"9aUc42FkdOae5w1k","name":"Tool: Resend Mailer","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"resend-mail","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"wh-resend","webhookId":"wh-wh-resend","name":"Webhook"},{"parameters":{"jsCode":"const https = require('https');\n\nconst to_email = (items[0].json && items[0].json.to) ? items[0].json.to : 'delivered@resend.dev';\nconst subject = (items[0].json && items[0].json.subject) ? items[0].json.subject : 'Mensaje automático de NiN';\nconst html = (items[0].json && items[0].json.html) ? items[0].json.html : '<p>Hola desde tu Agente NiN</p>';\nconst apiKey = 'RESEND_API_KEY_PROTECTED';\n\nconst payload = {\n  from: 'NiN Agent <onboarding@resend.dev>',\n  to: [to_email],\n  subject: subject,\n  html: html\n};\n\nconst data = JSON.stringify(payload);\nconst options = {\n  hostname: 'api.resend.com',\n  port: 443,\n  path: '/emails', \n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer ' + process.env.RESEND_API_KEY || apiKey,\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(data)\n  }\n};\n\nreturn new Promise((resolve) => {\n  const req = https.request(options, (res) => {\n    let body = '';\n    res.on('data', (d) => body += d);\n    res.on('end', () => {\n      try { resolve([{ json: JSON.parse(body) }]); } \n      catch (e) { resolve([{ json: { error: 'Parse Error', raw: body } }]); }\n    });\n  });\n  req.on('error', (e) => resolve([{ json: { error: e.message } }]));\n  req.write(data);\n  req.end();\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"code-resend"}],"connections":{"wh-resend":{"main":[[{"node":"code-resend","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"de8819b1-5579-416e-8853-1671d9dae984","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-02T21:38:08.176Z","createdAt":"2026-03-02T21:38:08.176Z","role":"workflow:owner","workflowId":"9aUc42FkdOae5w1k","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-02T21:38:08.206Z","createdAt":"2026-03-02T21:38:08.206Z","id":"3yEcFhvnCllXcz4d","name":"Tool: Consultar Cerebro","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consultar-cerebro","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"wh-cerebro","webhookId":"wh-wh-cerebro","name":"Webhook"},{"parameters":{"jsCode":"const http = require('http');\n\nconst query = (items[0].json && items[0].json.query) ? items[0].json.query : '¿Qué es NiN?';\nconst OLLAMA_HOST = '172.24.0.1';\nconst OLLAMA_PORT = 11434;\nconst QDRANT_HOST = '172.24.0.1';\nconst QDRANT_PORT = 6335;\n\n// 1. Obtener Embedding de Ollama\nconst getEmbedding = () => new Promise((resolve, reject) => {\n  const reqPayload = JSON.stringify({ model: 'nomic-embed-text:latest', prompt: query });\n  const req = http.request({ hostname: OLLAMA_HOST, port: OLLAMA_PORT, path: '/api/embeddings', method: 'POST', headers: {'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(reqPayload)} }, (res) => {\n    let body = ''; res.on('data', chunk => body += chunk); res.on('end', () => {\n      try { resolve(JSON.parse(body).embedding); } catch(e) { reject('Error parseando Ollama'); }\n    });\n  });\n  req.on('error', reject); req.write(reqPayload); req.end();\n});\n\n// 2. Buscar en Qdrant\nconst searchQdrant = (vector) => new Promise((resolve, reject) => {\n  const reqPayload = JSON.stringify({\n    vector: vector, limit: 3, with_payload: true\n  });\n  const req = http.request({ hostname: QDRANT_HOST, port: QDRANT_PORT, path: '/collections/cerebro_lucy/points/search', method: 'POST', headers: {'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(reqPayload)} }, (res) => {\n    let body = ''; res.on('data', chunk => body += chunk); res.on('end', () => {\n      try { resolve(JSON.parse(body).result); } catch(e) { reject('Error parseando Qdrant'); }\n    });\n  });\n  req.on('error', reject); req.write(reqPayload); req.end();\n});\n\ntry {\n  const embedding = await getEmbedding();\n  const qdrantResults = await searchQdrant(embedding);\n  \n  if (!qdrantResults || qdrantResults.length === 0) return [{ json: { output: '🔍 No se encontraron fragmentos relevantes en el Cerebro NIN.' } }];\n\n  const formatted = qdrantResults.map((r, i) => {\n    const meta = r.payload && r.payload.metadata ? r.payload.metadata : {};\n    const content = r.payload ? (r.payload.pageContent || '') : '';\n    return `${i+1}. [${meta.source || 'Doc'}] (Score: ${r.score})\\n   ${content.substring(0, 500)}...`;\n  }).join('\\n\\n---\\n\\n');\n\n  return [{ json: { output: `🔍 Resultados de búsqueda en el Cerebro NIN:\\n\\n${formatted}` } }];\n} catch (error) {\n  return [{ json: { output: `Error interno al consultar Cerebro: ${error.message || error}` } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"code-cerebro"}],"connections":{"wh-cerebro":{"main":[[{"node":"code-cerebro","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a8402265-686f-4bf4-88e4-e8f9062a898b","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-02T21:38:08.207Z","createdAt":"2026-03-02T21:38:08.207Z","role":"workflow:owner","workflowId":"3yEcFhvnCllXcz4d","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.064Z","createdAt":"2026-03-03T04:26:43.064Z","id":"bhayyIBMWglvoVMg","name":"NIN | Agente: Buscar Patron (Grep)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-grep","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-grep","name":"Webhook","webhookId":"agente-grep-003"},{"parameters":{"command":"grep -rn \"{{ $json.body.patron }}\" \"{{ $json.body.directorio || '/home/lucy-ubuntu/Escritorio/NIN' }}\" --include='*.py' --include='*.md' --include='*.json' 2>/dev/null | head -50"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[50,0],"id":"cmd-grep","name":"Grep"}],"connections":{"Webhook":{"main":[[{"node":"Grep","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"32dd5168-40d2-44e1-9c49-e1baf7e667ef","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.065Z","createdAt":"2026-03-03T04:26:43.065Z","role":"workflow:owner","workflowId":"bhayyIBMWglvoVMg","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.092Z","createdAt":"2026-03-03T04:26:43.092Z","id":"UQczHCKbxRWS3BS1","name":"NIN | Agente: Escanear Directorio","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-escanear","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-scan","name":"Webhook","webhookId":"agente-escanear-002"},{"parameters":{"command":"find \"{{ $json.body.ruta }}\" -maxdepth 2 -not -path '*/.git/*' -printf '%y %p\\n' 2>/dev/null | head -80"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[50,0],"id":"cmd-scan","name":"List Dir"}],"connections":{"Webhook":{"main":[[{"node":"List Dir","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d5626f19-e024-444e-9948-c856c12b49d1","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.093Z","createdAt":"2026-03-03T04:26:43.093Z","role":"workflow:owner","workflowId":"UQczHCKbxRWS3BS1","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.104Z","createdAt":"2026-03-03T04:26:43.104Z","id":"ki5l20JkL1PadNWP","name":"NIN | Agente: Estado del Sistema","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-sistema","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-sis","name":"Webhook","webhookId":"agente-sistema-004"},{"parameters":{"command":"echo \"RAM:\" && free -h | head -2 && echo \"CPU:\" && top -bn1 | grep -E \"Cpu\" && echo \"DISCO:\" && df -h / && echo \"DOCKER:\" && docker ps --format \"{{.Names}} {{.Status}}\" 2>/dev/null"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[50,0],"id":"cmd-sis","name":"Stats"}],"connections":{"Webhook":{"main":[[{"node":"Stats","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3fae0835-71c8-432a-8a7a-906303e8e21c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.104Z","createdAt":"2026-03-03T04:26:43.104Z","role":"workflow:owner","workflowId":"ki5l20JkL1PadNWP","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.115Z","createdAt":"2026-03-03T04:26:43.115Z","id":"z9QTrqhQe2zNZZTo","name":"NIN | Agente Herramienta: Leer Archivo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"leer","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-leer","name":"Webhook Leer","webhookId":"agente-leer"},{"parameters":{"fileSelector":"={{ $json.body.ruta }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[50,0],"id":"read-file","name":"Leer Archivo"},{"parameters":{"jsCode":"const item = $input.first();\nconst binary = item.binary;\nconst key = Object.keys(binary)[0];\nconst b64 = binary[key].data;\nconst text = Buffer.from(b64, 'base64').toString('utf-8');\nreturn [{ json: { contenido: text, ruta: $('Webhook Leer').first().json.body.ruta } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"id":"decode-file","name":"Decodificar Texto"}],"connections":{"Webhook Leer":{"main":[[{"node":"Leer Archivo","type":"main","index":0}]]},"Leer Archivo":{"main":[[{"node":"Decodificar Texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b26b47c8-584a-40e0-a9a1-778fcdf35e79","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.116Z","createdAt":"2026-03-03T04:26:43.116Z","role":"workflow:owner","workflowId":"z9QTrqhQe2zNZZTo","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.126Z","createdAt":"2026-03-03T04:26:43.126Z","id":"v83QJ0nichJt0QMq","name":"NIN | Agente: Leer Archivo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-leer","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-leer","name":"Webhook","webhookId":"agente-leer-001"},{"parameters":{"fileSelector":"={{ .body.ruta }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[50,0],"id":"read-file","name":"Read File"},{"parameters":{"jsCode":"const b = .first().binary; if (!b) return {contenido: \"No se pudo leer el archivo\"}; const k = Object.keys(b)[0]; return { contenido: Buffer.from(b[k].data, \"base64\").toString(\"utf-8\") };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"id":"decode","name":"Decode"}],"connections":{"Webhook":{"main":[[{"node":"Read File","type":"main","index":0}]]},"Read File":{"main":[[{"node":"Decode","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"332b4608-10e9-4744-9db4-61c70e7e7065","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.128Z","createdAt":"2026-03-03T04:26:43.128Z","role":"workflow:owner","workflowId":"v83QJ0nichJt0QMq","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-06T20:06:53.386Z","createdAt":"2026-03-03T04:26:43.142Z","id":"6iwgu2R2WDXyUHYN","name":"NIN | notenin (Investigador Autónomo - Drive)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"notenin-mission","responseMode":"onReceived","options":{}},"id":"webhook-trigger","name":"Webhook (API NiN)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"notenin-mission"},{"parameters":{"assignments":{"assignments":[{"id":"query-id","name":"search_query","value":"={{ $json.body.query || 'Estrategias de trading cuantitativo para BTC' }}","type":"string"}]}},"id":"set-query","name":"Define Misión","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $json.search_query }}\",\n  \"search_depth\": \"advanced\",\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"max_results\": 5\n}","options":{}},"id":"tavily-search","name":"Tavily Deep Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,300]},{"parameters":{"jsCode":"const query = $items('Define Misión')[0].json.search_query;\nconst searchResults = $items('Tavily Deep Search')[0].json;\n\nconst payload = {\n  model: \"qwen2.5:14b\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"Eres 'notenin', el Demonio Librero del proyecto NIN. Tu trabajo es leer resultados de búsquedas web y extraer/sintetizar SOLO la información técnica valiosa (código, estrategias, matemáticas) en formato Markdown estructurado.\"\n    },\n    {\n      role: \"user\",\n      content: `Misión: ${query}\\n\\nResumen Tavily: ${searchResults.answer}\\n\\nFuentes:\\n${JSON.stringify(searchResults.results)}`\n    }\n  ],\n  stream: false\n};\n\ntry {\n  const response = await $node[\"to-binary\"].axios.post('http://host.docker.internal:11434/api/chat', payload, { timeout: 120000 });\n  return { json: response.data };\n} catch (error) {\n  try {\n    const response = await $node[\"to-binary\"].axios.post('http://172.17.0.1:11434/api/chat', payload, { timeout: 120000 });\n    return { json: response.data };\n  } catch (e) {\n    try {\n       await $node[\"to-binary\"].axios.post('http://localhost:5688/rest/webhooks/sirena-telegram', {\n         message: `👿 *Demonio 14B Offline* 👿\\n\\nError: ${e.message}\\nAl intentar acceder a Ollama. El reporte de investigación no se generará.`\n       });\n    } catch (teleErr) {}\n    throw new Error(`Ollama Critical Error: ${e.message}`);\n  }\n}"},"id":"ollama-axios","name":"Ollama (RTX 5090) - Librero","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300]},{"parameters":{"jsCode":"const timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst filename = `notenin_research_${timestamp}.md`;\nconst content = $items('Ollama (RTX 5090) - Librero')[0].json.message.content;\n\nreturn {\n  json: {\n    filename: filename,\n    content: `# [notenin] Reporte de Investigación\\n\\n${content}`\n  }\n};"},"id":"prepare-data","name":"Prepara Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[1050,300]},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"content","destinationKey":"data","options":{"fileName":"={{ $json.filename }}","mimeType":"text/markdown"}},"id":"to-binary","name":"Convertir a Markdown","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1250,300]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"upload","fileName":"={{ $node[\"Prepara Metadata\"].json[\"filename\"] }}","options":{}},"id":"upload-drive","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1450,300],"credentials":{"googleDriveOAuth2Api":{"id":"ZpjTlDInDqs6MZ8z","name":"Google Drive account"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Define Misión","type":"main","index":0}]]},"Define Misión":{"main":[[{"node":"Tavily Deep Search","type":"main","index":0}]]},"Tavily Deep Search":{"main":[[{"node":"Ollama (RTX 5090) - Librero","type":"main","index":0}]]},"Ollama (RTX 5090) - Librero":{"main":[[{"node":"Prepara Metadata","type":"main","index":0}]]},"Prepara Metadata":{"main":[[{"node":"Convertir a Markdown","type":"main","index":0}]]},"Convertir a Markdown":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d730cafb-22a0-462f-bad4-6614d20c3bbf","activeVersionId":"d730cafb-22a0-462f-bad4-6614d20c3bbf","versionCounter":104,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.142Z","createdAt":"2026-03-03T04:26:43.142Z","role":"workflow:owner","workflowId":"6iwgu2R2WDXyUHYN","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.153Z","createdAt":"2026-03-03T04:26:43.153Z","id":"JPh0QZbaeddXzGzm","name":"NIN | CyberClimate Logger v2.0","description":null,"active":false,"isArchived":false,"nodes":[{"id":"start-node","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[0,0],"parameters":{}},{"id":"http-request","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[300,0],"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather?q=London&appid=YOUR_API_KEY","method":"GET"}},{"id":"write-file","name":"Write File","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[600,0],"parameters":{"file":"/path/to/weather.txt","content":"{{ $node[\"HTTP Request\"][\"json\"] }}"}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Write File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2ee5d8cf-01cb-4f40-8d8c-b4257176fc8f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.154Z","createdAt":"2026-03-03T04:26:43.154Z","role":"workflow:owner","workflowId":"JPh0QZbaeddXzGzm","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.512Z","createdAt":"2026-03-03T04:26:43.512Z","id":"Xy1Tl01FLpDY3gBM","name":"NIN | Lucy nin c","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-256,-208],"id":"8fd81b31-a019-41d6-9f60-5d13939d109d","name":"When chat message received","webhookId":"0c154b4e-e4c4-43a6-af05-6a4e42e39f40"},{"parameters":{"options":{"systemMessage":"res LUCY. No expliques lo que vas a hacer ni uses etiquetas <think>. Usa la herramienta 'Cerebro Central LUCY' inmediatamente pasando la ruta exacta en el parámetro input. Omite explicaciones previas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-208],"id":"8c2c357c-0219-41d9-adb4-35e2d209e4cb","name":"AI Agent"},{"parameters":{"model":"huihui_ai/qwq-abliterated:32b-Q6_K","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-32,16],"id":"8fb23250-8710-4e06-b5af-389bf74fc840","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"7l3V3KyozpH1jUVu","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[96,16],"id":"e5f419bb-77e4-4d17-a30e-4a4bede55581","name":"Calculator"},{"parameters":{"description":"Usa esta herramienta para leer el contenido de archivos locales en el disco duro. Debes proporcionar la ruta o el nombre del archivo que quieres leer.","workflowId":{"__rl":true,"value":"BgVWal7bDgPEy8DYn1Nom","mode":"list","cachedResultUrl":"/workflow/BgVWal7bDgPEy8DYn1Nom","cachedResultName":"My workflow 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"=={{ $fromAI('input') }}"},"matchingColumns":["input"],"schema":[{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[224,16],"id":"b4f5ec9b-2443-4f12-bab6-052528557b5f","name":"Cerebro Central LUCY"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cerebro Central LUCY":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"f5e8be6a-52e0-4bb7-a523-d476a493bba3","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.514Z","createdAt":"2026-03-03T04:26:43.514Z","role":"workflow:owner","workflowId":"Xy1Tl01FLpDY3gBM","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.533Z","createdAt":"2026-03-03T04:26:43.533Z","id":"gRwCe00vIgPC8FUQ","name":"NIN | My workflow 3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gpt-gateway","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"97a6f112-034f-4b7e-a77f-7611bd199b02","name":"Webhook","webhookId":"9b2c157a-b755-4476-af7f-0496b490285d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1463ed45-322d-4a0f-951a-9d37d77ed598","leftValue":"=={{$json.body.api_key}}","rightValue":"d4f9e4df00d1bf8cad6e7f958d16eea14b32d03d1cfddf62b7df557d80d06794","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,0],"id":"acacdaac-0c49-40a2-a657-5b8e094beb55","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\"ok\": false, \"message\": \"bad key\"}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,64],"id":"7533cd66-3b1b-4669-8a07-0ea085c93a79","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"ok\": true,\n  \"message\": \"passed\",\n  \"task\": \"={{$json.body.task}}\",\n  \"payload_json\": \"={{$json.body.payload_json}}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,-50.5],"id":"1bef2653-cc07-48d9-a034-5942e596e05a","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"1a3b50f9-995d-4943-9bb5-ea79c2f35b23","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.534Z","createdAt":"2026-03-03T04:26:43.534Z","role":"workflow:owner","workflowId":"gRwCe00vIgPC8FUQ","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.552Z","createdAt":"2026-03-03T04:26:43.552Z","id":"28bPJ9bJQPwYT5M1","name":"NIN | Pilar 1: Sistema Inmunológico (Doctor)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e4f8a91b-1234-4567-890a-bcdef1234560","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[250,300]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/chat","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwq-abliterated:32b"},{"name":"stream","value":"false"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"Eres LUCY, el Arquitecto del Sistema y Doctor Autónomo. Analiza el siguiente error de un flujo de n8n y proporciona un diagnóstico breve y la solución técnica directa.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Flujo fallido: \" + $json.execution.workflowData.name + \"\\nNodo: \" + $json.execution.lastNodeExecuted + \"\\nError: \" + JSON.stringify($json.execution.error)\n  }\n] }}"}]},"options":{}},"id":"e4f8a91b-1234-4567-890a-bcdef1234561","name":"Ollama (QwQ-32B)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[450,300]},{"parameters":{"content":"={{ $json.message.content }}","chatId":"YOUR_TELEGRAM_CHAT_ID","text":"🚨 *LUCY Doctor Autónomo* 🚨\n\n*Flujo:* {{ $('Error Trigger').item.json.execution.workflowData.name }}\n*Nodo Crash:* {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\n*Diagnóstico:* \n{{ $json.message.content }}"},"id":"e4f8a91b-1234-4567-890a-bcdef1234562","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[650,300],"notesInFlow":true,"notes":"Reemplazar con credenciales de Telegram o cambiar por un nodo Write to File para logs locales"}],"connections":{"Error Trigger":{"main":[[{"node":"Ollama (QwQ-32B)","type":"main","index":0}]]},"Ollama (QwQ-32B)":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2fc86fd0-27fa-4589-a975-f83ca941b4ae","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.553Z","createdAt":"2026-03-03T04:26:43.553Z","role":"workflow:owner","workflowId":"28bPJ9bJQPwYT5M1","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.571Z","createdAt":"2026-03-03T04:26:43.571Z","id":"N4xJO6yeH6iiVlm0","name":"NIN | Pilar 5: Búnker de Memoria (RAG Cyberpunk)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"filePath":"=={{ $json.path }}"},"id":"51e7a8ee-3354-483d-8580-9dc2c2abcb38","name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[128,176]},{"parameters":{"options":{}},"id":"a8bdd776-ed2f-4b08-a63e-d04c93d08f9b","name":"Extract Content (PDF/Doc)","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[480,400]},{"parameters":{"chunkOverlap":100,"options":{}},"id":"bc256886-718f-4ce1-91c5-e5290a308f87","name":"Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[560,608]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"fb78308c-3cbe-4195-9937-69d2dd104bfd","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[352,400],"credentials":{"ollamaApi":{"id":"QjvfuLtZqaWrXior","name":"Ollama account 2"}}},{"parameters":{"mode":"insert","qdrantCollection":"cerebro_lucy","options":{}},"id":"cbba058b-0e7b-4406-880f-0367a4e294a4","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[384,176],"credentials":{"qdrantApi":{"id":"JvOsiZzpaVy3x4JI","name":"QdrantApi account"}}},{"parameters":{"triggerOn":"folder","path":"/mnt/Cerebro","events":["add","change"],"options":{}},"id":"2019cbd5-23b8-48c3-b9d2-866187f057f9","name":"Local File Trigger1","type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-96,176]}],"connections":{"Read Binary File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Extract Content (PDF/Doc)":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Text Splitter":{"ai_textSplitter":[[{"node":"Extract Content (PDF/Doc)","type":"ai_textSplitter","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Local File Trigger1":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"226392bc-fc9f-46a5-b7d3-d8c839e074d7","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.572Z","createdAt":"2026-03-03T04:26:43.572Z","role":"workflow:owner","workflowId":"N4xJO6yeH6iiVlm0","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T07:00:35.017Z","createdAt":"2026-03-03T04:26:43.621Z","id":"a2hZUkG3tmV7MQlu","name":"NIN | Trading Bot v3 (Phase 1, 2 & 3)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-id","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,300]},{"parameters":{"rule":{"interval":[{"field":"minutes","interval":15}]}},"id":"schedule-id","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[100,500]},{"parameters":{"url":"https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd&include_24hr_vol=true&include_24hr_change=true","options":{}},"id":"coingecko-id","name":"CoinGecko API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,200]},{"parameters":{"url":"https://api.alternative.me/fng/?limit=1","options":{}},"id":"alternative-id","name":"Fear & Greed API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,400]},{"parameters":{"url":"https://cryptopanic.com/api/v1/posts/?auth_token=AUTH_TOKEN_PLACEHOLDER&regions=en","options":{}},"id":"cryptopanic-id","name":"CryptoPanic API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,600]},{"parameters":{"mode":"wait","join":{"mode":"wait"}},"id":"merge-id","name":"Merge Data","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[650,400]},{"parameters":{"jsCode":"const coingecko = $items('CoinGecko API')[0].json;\nconst fng = $items('Fear & Greed API')[0].json;\nconst news = $items('CryptoPanic API')[0].json;\n\nconst btcData = coingecko.bitcoin;\nconst current_price = btcData.usd;\nconst volume_24h = btcData.usd_24h_vol;\nconst change_24h = btcData.usd_24h_change;\n\nconst fearValue = fng.data[0].value;\nconst fearClass = fng.data[0].value_classification;\n\nconst headlines = news.results ? news.results.slice(0, 5).map(r => r.title).join(' | ') : 'No news extracted';\n\nreturn {\n  json: {\n    precio_actual: current_price,\n    variacion_24h: change_24h,\n    volumen_24h: volume_24h,\n    fng_valor: fearValue,\n    fng_clase: fearClass,\n    noticias_recientes: headlines\n  }\n};"},"id":"code-id","name":"Data Consolidation","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,400]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"llama3.3:70b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Actúa como un trader cuantitativo institucional especializado en criptoactivos. Tu objetivo es predecir la acción del precio a corto plazo y generar una orden. El resultado DEBE ser un JSON con las llaves 'accion' (COMPRAR, VENDER o ESPERAR), 'razonamiento', 'confianza' (0 a 100) y 'riesgo'. NO ESCRIBAS TEXTO FUERA DEL JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analiza BTC: Precio actual: ${{$node['Data Consolidation'].json.precio_actual}}. Variación 24H: ${{$node['Data Consolidation'].json.variacion_24h}}%. Volumen 24H: ${{$node['Data Consolidation'].json.volumen_24h}}. Sentiment Index: ${{$node['Data Consolidation'].json.fng_valor}} (${{$node['Data Consolidation'].json.fng_clase}}). Noticias Recientes: ${{$node['Data Consolidation'].json.noticias_recientes}}.\"\n    }\n  ],\n  \"stream\": false,\n  \"format\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"accion\": { \"type\": \"string\", \"enum\": [\"COMPRAR\", \"VENDER\", \"ESPERAR\"] },\n      \"razonamiento\": { \"type\": \"string\" },\n      \"confianza\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 },\n      \"riesgo\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 100 }\n    },\n    \"required\": [\"accion\", \"razonamiento\", \"confianza\", \"riesgo\"]\n  }\n}","options":{}},"id":"ollama-id","name":"Ollama (RTX 5090)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1100,400]},{"parameters":{"jsCode":"const response = $items('Ollama (RTX 5090)')[0].json.message.content;\ntry {\n  return { json: JSON.parse(response) };\n} catch (e) {\n  return { json: { accion: \"ESPERAR\", razonamiento: \"Error parseando JSON\", confianza: 0, riesgo: 0 } };\n}"},"id":"parse-id","name":"Parse Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[1350,400]},{"parameters":{"dataType":"string","value1":"={{ $json.accion }}","rules":{"rules":[{"value2":"COMPRAR","output":0},{"value2":"VENDER","output":1},{"value2":"ESPERAR","output":2}]},"fallbackOutput":2},"id":"switch-id","name":"Action Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1600,400]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.confianza }}","operation":"largerEqual","value2":80}]}},"id":"filter-buy-id","name":"Conviction Filter","type":"n8n-nodes-base.if","typeVersion":1,"position":[1850,200]},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst API_SECRET = 'TESTNET_API_SECRET_PLACEHOLDER'; // MUST BE INJECTED\nconst API_KEY = 'TESTNET_API_KEY_PLACEHOLDER';\n\nconst symbol = 'BTCUSDT';\nconst side = 'BUY';\nconst type = 'MARKET';\nconst quantity = '0.001'; // $65 aprox - Hardcoded test size\nconst timestamp = Date.now();\n\nconst queryString = `symbol=${symbol}&side=${side}&type=${type}&quantity=${quantity}&timestamp=${timestamp}`;\n\n// Generar firma HMAC SHA256\nconst signature = crypto.createHmac('sha256', API_SECRET).update(queryString).digest('hex');\n\nreturn {\n  json: {\n    api_key: API_KEY,\n    query_string: queryString,\n    signature: signature,\n    final_query: `${queryString}&signature=${signature}`\n  }\n};"},"id":"hmac-id","name":"Binance HMAC Signer","type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,100]},{"parameters":{"method":"POST","url":"={{ 'https://testnet.binance.vision/api/v3/order?' + $json.final_query }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-MBX-APIKEY","value":"={{ $json.api_key }}"}]},"options":{}},"id":"execute-id","name":"Binance Testnet Exec","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2350,100]}],"connections":{"Manual Trigger":{"main":[[{"node":"CoinGecko API","type":"main","index":0},{"node":"Fear & Greed API","type":"main","index":0},{"node":"CryptoPanic API","type":"main","index":0}]]},"Schedule":{"main":[[{"node":"CoinGecko API","type":"main","index":0},{"node":"Fear & Greed API","type":"main","index":0},{"node":"CryptoPanic API","type":"main","index":0}]]},"CoinGecko API":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Fear & Greed API":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"CryptoPanic API":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Merge Data":{"main":[[{"node":"Data Consolidation","type":"main","index":0}]]},"Data Consolidation":{"main":[[{"node":"Ollama (RTX 5090)","type":"main","index":0}]]},"Ollama (RTX 5090)":{"main":[[{"node":"Parse Decision","type":"main","index":0}]]},"Parse Decision":{"main":[[{"node":"Action Switch","type":"main","index":0}]]},"Action Switch":{"main":[[{"node":"Conviction Filter","type":"main","index":0}],[],[]]},"Conviction Filter":{"main":[[{"node":"Binance HMAC Signer","type":"main","index":0}]]},"Binance HMAC Signer":{"main":[[{"node":"Binance Testnet Exec","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"9395a2c0-f7e2-4a35-a0c2-e7b063785eb2","activeVersionId":"9395a2c0-f7e2-4a35-a0c2-e7b063785eb2","versionCounter":28,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.622Z","createdAt":"2026-03-03T04:26:43.622Z","role":"workflow:owner","workflowId":"a2hZUkG3tmV7MQlu","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.633Z","createdAt":"2026-03-03T04:26:43.633Z","id":"Xh9okLiU6BNT9ENe","name":"NIN | Sync: Memoria a Google Drive","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-400,0],"id":"trigger-sync","name":"Cada 30 min"},{"parameters":{"fileSelector":"/home/lucy-ubuntu/Escritorio/NIN/memoria/bitacora.md"},"type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-200,0],"id":"read-bitacora","name":"Leer Bitacora"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"upload","fileName":"bitacora_nin.md","parentID":"","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[50,0],"id":"upload-drive","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ZpjTlDInDqs6MZ8z","name":"Google Drive account"}}}],"connections":{"Cada 30 min":{"main":[[{"node":"Leer Bitacora","type":"main","index":0}]]},"Leer Bitacora":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c15864f0-79f6-4bab-891a-60150f948ce6","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.634Z","createdAt":"2026-03-03T04:26:43.634Z","role":"workflow:owner","workflowId":"Xh9okLiU6BNT9ENe","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.678Z","createdAt":"2026-03-03T04:26:43.678Z","id":"IPUZg16FpWf83IwC","name":"NIN | Tool: Notebook","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-notebook","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-208,0],"id":"wh-notebook","name":"Webhook","webhookId":"notebook-001"},{"parameters":{"command":"# Buscar por patron o listar ultimos cambios\nif [ -n \"{{ $json.body.query }}\" ]; then\n  grep -rnE \"{{ $json.body.query }}\" /home/lucy-ubuntu/Escritorio/NIN/memoria /home/lucy-ubuntu/Escritorio/NIN/docs 2>/dev/null | head -50\nelse\n  ls -lt /home/lucy-ubuntu/Escritorio/NIN/memoria /home/lucy-ubuntu/Escritorio/NIN/docs | head -20\nfi"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[16,0],"id":"cmd-notebook","name":"Query Memory"},{"parameters":{"jsCode":"return { output: \"--- PROYECTO NIN: MEMORIA CONTEXTUAL ---\\n\" + $input.first().json.stdout };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"format-notebook","name":"Format output"}],"connections":{"Webhook":{"main":[[{"node":"Query Memory","type":"main","index":0}]]},"Query Memory":{"main":[[{"node":"Format output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"11a00fb9-ed1a-458f-aa19-ed9cf061ccd6","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.679Z","createdAt":"2026-03-03T04:26:43.679Z","role":"workflow:owner","workflowId":"IPUZg16FpWf83IwC","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.912Z","createdAt":"2026-03-03T04:26:43.912Z","id":"r2xjsLghlzEg6QJj","name":"NIN | Agente: Buscar Patron (Grep)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-grep","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-grep","name":"Webhook","webhookId":"agente-grep-003"},{"parameters":{"command":"grep -rn \"{{ $json.body.patron }}\" \"{{ $json.body.directorio || '/home/lucy-ubuntu/Escritorio/NIN' }}\" --include='*.py' --include='*.md' --include='*.json' 2>/dev/null | head -50"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[50,0],"id":"cmd-grep","name":"Grep"}],"connections":{"Webhook":{"main":[[{"node":"Grep","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"bb442717-da19-46ad-94e9-9fe798d84310","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.913Z","createdAt":"2026-03-03T04:26:43.913Z","role":"workflow:owner","workflowId":"r2xjsLghlzEg6QJj","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.926Z","createdAt":"2026-03-03T04:26:43.926Z","id":"bLZNTylQXwmRJAKz","name":"NIN | Agente: Escanear Directorio","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-escanear","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-scan","name":"Webhook","webhookId":"agente-escanear-002"},{"parameters":{"command":"find \"{{ $json.body.ruta }}\" -maxdepth 2 -not -path '*/.git/*' -printf '%y %p\\n' 2>/dev/null | head -80"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[50,0],"id":"cmd-scan","name":"List Dir"}],"connections":{"Webhook":{"main":[[{"node":"List Dir","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a2447e42-d0a4-4b38-904f-7d7c3d3b0ebf","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.927Z","createdAt":"2026-03-03T04:26:43.927Z","role":"workflow:owner","workflowId":"bLZNTylQXwmRJAKz","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.940Z","createdAt":"2026-03-03T04:26:43.940Z","id":"nfSD9zZWxmXzHOdb","name":"NIN | Agente: Estado del Sistema","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-sistema","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-sis","name":"Webhook","webhookId":"agente-sistema-004"},{"parameters":{"command":"echo \"RAM:\" && free -h | head -2 && echo \"CPU:\" && top -bn1 | grep -E \"Cpu\" && echo \"DISCO:\" && df -h / && echo \"DOCKER:\" && docker ps --format \"{{.Names}} {{.Status}}\" 2>/dev/null"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[50,0],"id":"cmd-sis","name":"Stats"}],"connections":{"Webhook":{"main":[[{"node":"Stats","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f1868e56-4b74-4afd-bdf0-e30575a4b7ba","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.941Z","createdAt":"2026-03-03T04:26:43.941Z","role":"workflow:owner","workflowId":"nfSD9zZWxmXzHOdb","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.953Z","createdAt":"2026-03-03T04:26:43.953Z","id":"GqJ0cfH2vb0AvGHL","name":"NIN | Agente Herramienta: Leer Archivo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"leer","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-leer","name":"Webhook Leer","webhookId":"agente-leer"},{"parameters":{"fileSelector":"={{ $json.body.ruta }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[50,0],"id":"read-file","name":"Leer Archivo"},{"parameters":{"jsCode":"const item = $input.first();\nconst binary = item.binary;\nconst key = Object.keys(binary)[0];\nconst b64 = binary[key].data;\nconst text = Buffer.from(b64, 'base64').toString('utf-8');\nreturn [{ json: { contenido: text, ruta: $('Webhook Leer').first().json.body.ruta } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"id":"decode-file","name":"Decodificar Texto"}],"connections":{"Webhook Leer":{"main":[[{"node":"Leer Archivo","type":"main","index":0}]]},"Leer Archivo":{"main":[[{"node":"Decodificar Texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"79c98062-ee04-4143-9845-85021cb43b0e","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.954Z","createdAt":"2026-03-03T04:26:43.954Z","role":"workflow:owner","workflowId":"GqJ0cfH2vb0AvGHL","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.966Z","createdAt":"2026-03-03T04:26:43.966Z","id":"qSLUj0AcsymyTKrF","name":"NIN | Agente: Leer Archivo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agente-leer","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-200,0],"id":"wh-leer","name":"Webhook","webhookId":"agente-leer-001"},{"parameters":{"fileSelector":"={{ .body.ruta }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[50,0],"id":"read-file","name":"Read File"},{"parameters":{"jsCode":"const b = .first().binary; if (!b) return {contenido: \"No se pudo leer el archivo\"}; const k = Object.keys(b)[0]; return { contenido: Buffer.from(b[k].data, \"base64\").toString(\"utf-8\") };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"id":"decode","name":"Decode"}],"connections":{"Webhook":{"main":[[{"node":"Read File","type":"main","index":0}]]},"Read File":{"main":[[{"node":"Decode","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ca9c0f3e-b71c-4cbb-9f5c-2f3e09b38dbc","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.966Z","createdAt":"2026-03-03T04:26:43.966Z","role":"workflow:owner","workflowId":"qSLUj0AcsymyTKrF","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:43.991Z","createdAt":"2026-03-03T04:26:43.991Z","id":"ncaXG3H8ORkfUS13","name":"NIN | CyberClimate Logger v2.0","description":null,"active":false,"isArchived":false,"nodes":[{"id":"start-node","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[0,0],"parameters":{}},{"id":"http-request","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[300,0],"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather?q=London&appid=YOUR_API_KEY","method":"GET"}},{"id":"write-file","name":"Write File","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[600,0],"parameters":{"file":"/path/to/weather.txt","content":"{{ $node[\"HTTP Request\"][\"json\"] }}"}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Write File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"27096da0-30be-4412-a6c5-f8c3b2dec549","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:43.992Z","createdAt":"2026-03-03T04:26:43.992Z","role":"workflow:owner","workflowId":"ncaXG3H8ORkfUS13","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:44.001Z","createdAt":"2026-03-03T04:26:44.001Z","id":"baAIWWtD9yaNXxFk","name":"NIN | Envío Automático de CV a Colegios","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"42 0 * * *"}]}},"id":"schedule-trigger-1","name":"Reloj (00:42)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,300]},{"parameters":{"fileSelector":"/home/lucy-ubuntu/Escritorio/NIN/gmail_cv/data/colegios.xlsx"},"id":"read-excel-1","name":"Leer Archivo Excel","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[200,300]},{"parameters":{"operation":"xlsx","options":{}},"id":"extract-csv-1","name":"Convertir a Datos","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[400,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json['Nº de Comuna'] }}","value2":"Comuna 1"}]}},"id":"filter-comuna","name":"Filtro (Solo Comuna 1)","type":"n8n-nodes-base.filter","typeVersion":1,"position":[600,300]},{"parameters":{"fileSelector":"/home/lucy-ubuntu/Escritorio/NIN/gmail_cv/data/Mi_Curriculum.pdf","dataPropertyName":"adjunto_cv"},"id":"read-cv-1","name":"Cargar CV Local","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[800,300]},{"parameters":{"fromEmail":"chatjepetex4@gmail.com","toEmail":"={{ $('Filtro (Solo Comuna 1)').item.json['Correo Electrónico'].replace(/\\s*\\/\\s*/g, ', ') }}","subject":"Postulación docente - Diego Leonardo Succi","options":{"appendAttachements":false,"attachments":"adjunto_cv"},"html":"=A las autoridades de la institución {{ $('Filtro (Solo Comuna 1)').item.json['Nombre de la Institución'] }}:<br><br>Me dirijo a ustedes para poner a disposición mi currículum vitae a fin de que lo tengan en cuenta en futuras oportunidades en la institución.<br><br>Poseo título habilitante, experiencia en el manejo de grupos y una amplia disponibilidad horaria.<br><br>Atte: Profesor Diego Leonardo Succi.","text":"=A las autoridades de la institución {{ $('Filtro (Solo Comuna 1)').item.json['Nombre de la Institución'] }}:\n\nMe dirijo a ustedes para poner a disposición mi currículum vitae a fin de que lo tengan en cuenta en futuras oportunidades en la institución.\n\nPoseo título habilitante, experiencia en el manejo de grupos y una amplia disponibilidad horaria.\n\nAtte: Profesor Diego Leonardo Succi.","emailFormat":"html"},"id":"smtp-send-1","name":"Enviar Correo SMTP","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1000,300],"credentials":{"smtp":{"id":"Vjq1Vkk3HMWqCsCO","name":"SMTP account"}}}],"connections":{"Leer Archivo Excel":{"main":[[{"node":"Convertir a Datos","type":"main","index":0}]]},"Convertir a Datos":{"main":[[{"node":"Filtro (Solo Comuna 1)","type":"main","index":0}]]},"Cargar CV Local":{"main":[[{"node":"Enviar Correo SMTP","type":"main","index":0}]]},"Reloj (18:05)":{"main":[[{"node":"Leer Archivo Excel","type":"main","index":0}]]},"Filtro (Solo Comuna 1)":{"main":[[{"node":"Cargar CV Local","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b33afa4e-2c57-4e74-a5c8-0d9d3a0a2cf4","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:44.001Z","createdAt":"2026-03-03T04:26:44.001Z","role":"workflow:owner","workflowId":"baAIWWtD9yaNXxFk","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:44.010Z","createdAt":"2026-03-03T04:26:44.010Z","id":"o0JVaQidSwb80gSG","name":"NIN | Lucy nin c","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-256,-208],"id":"8fd81b31-a019-41d6-9f60-5d13939d109d","name":"When chat message received","webhookId":"0c154b4e-e4c4-43a6-af05-6a4e42e39f40"},{"parameters":{"options":{"systemMessage":"res LUCY. No expliques lo que vas a hacer ni uses etiquetas <think>. Usa la herramienta 'Cerebro Central LUCY' inmediatamente pasando la ruta exacta en el parámetro input. Omite explicaciones previas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-208],"id":"8c2c357c-0219-41d9-adb4-35e2d209e4cb","name":"AI Agent"},{"parameters":{"model":"huihui_ai/qwq-abliterated:32b-Q6_K","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-32,16],"id":"8fb23250-8710-4e06-b5af-389bf74fc840","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"7l3V3KyozpH1jUVu","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[96,16],"id":"e5f419bb-77e4-4d17-a30e-4a4bede55581","name":"Calculator"},{"parameters":{"description":"Usa esta herramienta para leer el contenido de archivos locales en el disco duro. Debes proporcionar la ruta o el nombre del archivo que quieres leer.","workflowId":{"__rl":true,"value":"BgVWal7bDgPEy8DYn1Nom","mode":"list","cachedResultUrl":"/workflow/BgVWal7bDgPEy8DYn1Nom","cachedResultName":"My workflow 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input":"=={{ $fromAI('input') }}"},"matchingColumns":["input"],"schema":[{"id":"input","displayName":"input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[224,16],"id":"b4f5ec9b-2443-4f12-bab6-052528557b5f","name":"Cerebro Central LUCY"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cerebro Central LUCY":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"d31e65ac-ea8e-4e3c-bb7c-5c431aa332ec","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:44.011Z","createdAt":"2026-03-03T04:26:44.011Z","role":"workflow:owner","workflowId":"o0JVaQidSwb80gSG","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T02:16:33.966Z","createdAt":"2026-03-03T04:26:44.020Z","id":"ZHWPJ268GZ3kWqT8","name":"NIN | Búnker de Memoria Dinámica","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bunker-sync","responseMode":"responseNode","options":{}},"id":"c1a2b3c4-post","name":"Recibidor (POST)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"nin_memory_sync_post"},{"parameters":{"jsCode":"const fs = require('fs');\nconst logPath = '/home/node/.n8n-files/nin_bunker_log.jsonl';\nconst content = JSON.stringify($input.item.json.body) + '\\n';\ntry {\n  fs.appendFileSync(logPath, content);\n  return { json: { status: 'success' } };\n} catch (e) {\n  return { json: { status: 'error', error: e.message } };\n}"},"id":"code-sync","name":"Sync Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[450,300]},{"parameters":{"respondWith":"allItemProperties","options":{}},"id":"res-sync","name":"Respond Sync","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,300]}],"connections":{"Recibidor (POST)":{"main":[[{"node":"Sync Code","type":"main","index":0}]]},"Sync Code":{"main":[[{"node":"Respond Sync","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"79029fbc-c52f-4995-9b54-92afeca68603","activeVersionId":"79029fbc-c52f-4995-9b54-92afeca68603","versionCounter":47,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:44.021Z","createdAt":"2026-03-03T04:26:44.021Z","role":"workflow:owner","workflowId":"ZHWPJ268GZ3kWqT8","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:44.029Z","createdAt":"2026-03-03T04:26:44.029Z","id":"yu8OjZ74MwITGttR","name":"NIN | Pilar 1: Sistema Inmunológico (Doctor)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e4f8a91b-1234-4567-890a-bcdef1234560","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[250,300]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/chat","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"qwq-abliterated:32b"},{"name":"stream","value":"false"},{"name":"messages","value":"={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"Eres LUCY, el Arquitecto del Sistema y Doctor Autónomo. Analiza el siguiente error de un flujo de n8n y proporciona un diagnóstico breve y la solución técnica directa.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Flujo fallido: \" + $json.execution.workflowData.name + \"\\nNodo: \" + $json.execution.lastNodeExecuted + \"\\nError: \" + JSON.stringify($json.execution.error)\n  }\n] }}"}]},"options":{}},"id":"e4f8a91b-1234-4567-890a-bcdef1234561","name":"Ollama (QwQ-32B)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[450,300]},{"parameters":{"content":"={{ $json.message.content }}","chatId":"YOUR_TELEGRAM_CHAT_ID","text":"🚨 *LUCY Doctor Autónomo* 🚨\n\n*Flujo:* {{ $('Error Trigger').item.json.execution.workflowData.name }}\n*Nodo Crash:* {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\n*Diagnóstico:* \n{{ $json.message.content }}"},"id":"e4f8a91b-1234-4567-890a-bcdef1234562","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[650,300],"notesInFlow":true,"notes":"Reemplazar con credenciales de Telegram o cambiar por un nodo Write to File para logs locales"}],"connections":{"Error Trigger":{"main":[[{"node":"Ollama (QwQ-32B)","type":"main","index":0}]]},"Ollama (QwQ-32B)":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b2cfed15-37a2-49c6-afde-130bd9119eb9","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:44.029Z","createdAt":"2026-03-03T04:26:44.029Z","role":"workflow:owner","workflowId":"yu8OjZ74MwITGttR","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:44.038Z","createdAt":"2026-03-03T04:26:44.038Z","id":"iAhfFZRn96oXdjnQ","name":"NIN | Pilar 5: Búnker de Memoria (RAG Cyberpunk)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"filePath":"=={{ $json.path }}"},"id":"51e7a8ee-3354-483d-8580-9dc2c2abcb38","name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[128,176]},{"parameters":{"options":{}},"id":"a8bdd776-ed2f-4b08-a63e-d04c93d08f9b","name":"Extract Content (PDF/Doc)","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[480,400]},{"parameters":{"chunkOverlap":100,"options":{}},"id":"bc256886-718f-4ce1-91c5-e5290a308f87","name":"Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[560,608]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"fb78308c-3cbe-4195-9937-69d2dd104bfd","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[352,400],"credentials":{"ollamaApi":{"id":"QjvfuLtZqaWrXior","name":"Ollama account 2"}}},{"parameters":{"mode":"insert","qdrantCollection":"cerebro_lucy","options":{}},"id":"cbba058b-0e7b-4406-880f-0367a4e294a4","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[384,176],"credentials":{"qdrantApi":{"id":"JvOsiZzpaVy3x4JI","name":"QdrantApi account"}}},{"parameters":{"triggerOn":"folder","path":"/mnt/Cerebro","events":["add","change"],"options":{}},"id":"2019cbd5-23b8-48c3-b9d2-866187f057f9","name":"Local File Trigger1","type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-96,176]}],"connections":{"Read Binary File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Extract Content (PDF/Doc)":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Text Splitter":{"ai_textSplitter":[[{"node":"Extract Content (PDF/Doc)","type":"ai_textSplitter","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Local File Trigger1":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"8f5f3248-bcdd-46e9-9ef6-82b0b1c624e3","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:44.038Z","createdAt":"2026-03-03T04:26:44.038Z","role":"workflow:owner","workflowId":"iAhfFZRn96oXdjnQ","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-03T04:26:44.047Z","createdAt":"2026-03-03T04:26:44.047Z","id":"FIZ7xRWEcpEy9Kl0","name":"NIN | Sync: Memoria a Google Drive","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-400,0],"id":"trigger-sync","name":"Cada 30 min"},{"parameters":{"fileSelector":"/home/lucy-ubuntu/Escritorio/NIN/memoria/bitacora.md"},"type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-200,0],"id":"read-bitacora","name":"Leer Bitacora"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"upload","fileName":"bitacora_nin.md","parentID":"","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[50,0],"id":"upload-drive","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ZpjTlDInDqs6MZ8z","name":"Google Drive account"}}}],"connections":{"Cada 30 min":{"main":[[{"node":"Leer Bitacora","type":"main","index":0}]]},"Leer Bitacora":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4f975773-2f72-42df-859f-1e8e5ecda817","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T04:26:44.047Z","createdAt":"2026-03-03T04:26:44.047Z","role":"workflow:owner","workflowId":"FIZ7xRWEcpEy9Kl0","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T07:45:56.879Z","createdAt":"2026-03-05T07:45:56.879Z","id":"BAsjJe74dnlGcyrZ","name":"NIN | notenin (Investigador Autónomo)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"trigger-id","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"query-id","name":"search_query","value":"Mejores prácticas para optimizar workflows de n8n","type":"string"}]}},"id":"set-query","name":"Define Misión","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $json.search_query }}\",\n  \"search_depth\": \"advanced\",\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"max_results\": 5\n}","options":{}},"id":"tavily-search","name":"Tavily Deep Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[440,0]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama3.3:70b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres 'notenin', el Demonio Librero del proyecto NIN. Tu trabajo es leer resultados de búsquedas web y extraer/sintetizar SOLO la información técnica valiosa (código, estrategias, matemáticas) en formato Markdown estructurado. Ignora el ruido publicitario. Genera un reporte detallado.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Misión: {{ $('Define Misión').item.json.search_query }}\\n\\nResumen Tavily: {{ $json.answer }}\\n\\nFuentes:\\n{{ JSON.stringify($json.results) }}\"\n    }\n  ],\n  \"stream\": false\n}","options":{}},"id":"ollama-curator","name":"Ollama (RTX 5090) - Librero","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,0]},{"parameters":{"jsCode":"const timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst filename = `/home/node/.n8n-files/docs/notenin/research_${timestamp}.md`;\nconst content = $items('Ollama (RTX 5090) - Librero')[0].json.message.content;\n\nreturn {\n  json: {\n    filename: filename,\n    content: `# [notenin] Reporte de Investigación\\n\\n${content}`\n  }\n};"},"id":"format-note","name":"Prepara Notebook","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"operation":"write","fileName":"={{ $json.filename }}","fileContent":"={{ $json.content }}","options":{"append":false}},"id":"write-file","name":"Guardar en Disco","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1100,0]}],"connections":{"Manual Trigger":{"main":[[{"node":"Define Misión","type":"main","index":0}]]},"Define Misión":{"main":[[{"node":"Tavily Deep Search","type":"main","index":0}]]},"Tavily Deep Search":{"main":[[{"node":"Ollama (RTX 5090) - Librero","type":"main","index":0}]]},"Ollama (RTX 5090) - Librero":{"main":[[{"node":"Prepara Notebook","type":"main","index":0}]]},"Prepara Notebook":{"main":[[{"node":"Guardar en Disco","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"aa2866d4-ecd2-438a-9748-0f76d7894e54","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T07:45:56.881Z","createdAt":"2026-03-05T07:45:56.881Z","role":"workflow:owner","workflowId":"BAsjJe74dnlGcyrZ","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T08:48:25.117Z","createdAt":"2026-03-05T08:48:25.117Z","id":"6lGltUES6c6WuNoZ","name":"NIN | notenin-DIAGNOSTIC","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"notenin-diag"},"id":"trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"{\"api_key\": \"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\", \"query\": \"test\"}"},"id":"tavily","name":"Tavily Test","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[200,0]}],"connections":{"Webhook":{"main":[[{"node":"Tavily Test","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7758e3e0-8433-4ff1-95b8-240d8d8ba5b8","activeVersionId":"7758e3e0-8433-4ff1-95b8-240d8d8ba5b8","versionCounter":17,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-05T08:48:25.118Z","createdAt":"2026-03-05T08:48:25.118Z","role":"workflow:owner","workflowId":"6lGltUES6c6WuNoZ","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-05T08:51:16.130Z","createdAt":"2026-03-05T08:51:16.130Z","id":"yZHwJ2SF84sN3lgy","name":"NIN | node-iso-test","description":null,"active":false,"isArchived":false,"nodes":[{"id":"manual","name":"Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"return { status: \"OK\" };"},"id":"code","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0]}],"connections":{"Manual":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b208487e-3647-4739-ae2f-cfb5cde9c4c6","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T08:51:16.131Z","createdAt":"2026-03-05T08:51:16.131Z","role":"workflow:owner","workflowId":"yZHwJ2SF84sN3lgy","projectId":"mCEHKui7gFoyO9TP","project":{"updatedAt":"2026-03-04T11:50:25.360Z","createdAt":"2026-02-24T07:26:52.790Z","id":"mCEHKui7gFoyO9TP","name":"diego popin <chatjepetex2025@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c1bbf774-5259-4556-ba2f-becd6e9e1c15"}}],"versionMetadata":{"name":null,"description":null}}]