verticals/bitnin/workflows/bitnin_hitl_decision.json
{
  "name": "NIN | BitNin HITL Decision",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "bitnin-hitl-telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-nin",
          "name": "NIN Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst text = msg.message?.text || '';\nconst chatId = msg.message?.chat?.id || 0;\nconst allowedChatId = parseInt($env.TG_CHAT_ID || '0');\nif (chatId !== allowedChatId) {\n  return [{ json: { reply: 'No autorizado.', chatId } }];\n}\nreturn [{ json: { chatId, command: text } }];"
      },
      "id": "bitnin-hitl-command-router",
      "name": "Command Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TG_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"text\": {{ JSON.stringify('BitNin HITL decision received: ' + $json.command) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "bitnin-hitl-telegram-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [740, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Command Router", "type": "main", "index": 0 }]]
    },
    "Command Router": {
      "main": [[{ "node": "Telegram Reply", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": null
}
