verticals/bitnin/workflows/bitnin_hitl_request.json
{
  "name": "NIN | BitNin HITL Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bitnin-hitl-request",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "bitnin-hitl-request-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "bitnin_hitl_request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "approval-id",
              "name": "approval_id",
              "value": "={{ $json.body.approval_id }}",
              "type": "string"
            },
            {
              "id": "message-body",
              "name": "message_text",
              "value": "={{ $json.body.rendered_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bitnin-hitl-format-request",
      "name": "Format HITL Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TG_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TG_CHAT_ID }}\",\n  \"text\": \"{{ $json.message_text }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "bitnin-hitl-telegram-api",
      "name": "Telegram API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Format HITL Message", "type": "main", "index": 0 }]]
    },
    "Format HITL Message": {
      "main": [[{ "node": "Telegram API", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": null
}
