workflows/agente_leer_archivo_PIG1XG1R7N4TjG2L.json
{
  "updatedAt": "2026-02-27T05:09:12.644Z",
  "createdAt": "2026-02-27T05:09:12.644Z",
  "id": "PIG1XG1R7N4TjG2L",
  "name": "Agente: Leer Archivo",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-leer",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "id": "wh-leer",
      "name": "Webhook",
      "webhookId": "agente-leer-001"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.body.ruta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        50,
        0
      ],
      "id": "read-file",
      "name": "Read File"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().binary; const k = Object.keys(b)[0]; const text = Buffer.from(b[k].data, 'base64').toString('utf-8'); return [{ json: { contenido: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "decode",
      "name": "Decode"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Decode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "versionId": "7aecdff0-f93c-4e84-8566-9acbb8735920",
  "activeVersionId": "7aecdff0-f93c-4e84-8566-9acbb8735920",
  "versionCounter": 3,
  "triggerCount": 1
}