workflows/cyberclimate_logger_v20_eyKAN96qfocCJ7XT.json
{
  "updatedAt": "2026-02-24T17:50:30.595Z",
  "createdAt": "2026-02-24T17:50:30.595Z",
  "id": "eyKAN96qfocCJ7XT",
  "name": "CyberClimate Logger v2.0",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=London&appid=YOUR_API_KEY",
        "method": "GET"
      }
    },
    {
      "id": "write-file",
      "name": "Write File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "file": "/path/to/weather.txt",
        "content": "{{ $node[\"HTTP Request\"][\"json\"] }}"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "versionId": "14522dcc-8f1c-4369-ae45-6fc683b13733",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0
}