workflows/nin_bibliotecario.json
{
    "name": "NIN | Bibliotecario Doctoral (Telegram)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "tg-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                200,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-nin",
                    "name": "NIN Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract message data\nconst msg = $input.first().json;\nconst text = msg.message?.text || '';\nconst chatId = msg.message?.chat?.id || 0;\nconst allowedChatId = parseInt($env.TG_CHAT_ID || '0');\n\n// Authorization check\nif (chatId !== allowedChatId) {\n  return [{ json: { reply: '⛔ No autorizado.', chatId: chatId } }];\n}\n\n// Route command to the bibliotecario handler\nconst { execSync } = require('child_process');\ntry {\n  const cmd = `cd /home/lucy-ubuntu/Escritorio/NIN && /home/lucy-ubuntu/Escritorio/NIN/.venv/bin/python3 -c \"\nimport sys, json\nsys.path.insert(0, 'scripts')\nfrom bibliotecario.telegram_handler import handle_command\nresult = handle_command(json.loads(sys.argv[1]), ${chatId})\nprint(json.dumps({'reply': result}))\n\" '${JSON.stringify(text).replace(/'/g, \"'\\\\''\")}'`;\n  const result = JSON.parse(execSync(cmd, { timeout: 30000 }).toString());\n  return [{ json: { reply: result.reply, chatId: chatId } }];\n} catch(e) {\n  return [{ json: { reply: '❌ Error procesando comando: ' + e.message, chatId: chatId } }];\n}"
            },
            "id": "command-router",
            "name": "Command Router",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.telegram.org/bot{{ $env.TG_TOKEN }}/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"text\": {{ JSON.stringify($json.reply) }},\n  \"parse_mode\": \"Markdown\"\n}",
                "options": {}
            },
            "id": "tg-reply",
            "name": "Telegram Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                300
            ]
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Command Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Command Router": {
            "main": [
                [
                    {
                        "node": "Telegram Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "description": "Plano de control Telegram para el Bibliotecario Doctoral MVP. Recibe comandos via webhook, los rutea al handler Python, y responde."
    },
    "active": false
}