workflows/prueba_x1_-_test_de_antigravity_BgVWal7bDgPEy8DYn1Nom.json
{
  "updatedAt": "2026-02-27T04:39:09.177Z",
  "createdAt": "2026-02-24T16:34:20.570Z",
  "id": "BgVWal7bDgPEy8DYn1Nom",
  "name": "Prueba x1 - Test de Antigravity",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "trigger-sub",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.input }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        250,
        0
      ],
      "id": "read-file",
      "name": "Read Local File"
    },
    {
      "parameters": {
        "jsCode": "return [{json: {text: $input.first().binary.data.data}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "id": "extract-text",
      "name": "Extract Text"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Read Local File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local File": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": null,
  "versionId": "ef0b6b24-0f9c-4cd1-8765-bf521d7411c8",
  "activeVersionId": "ef0b6b24-0f9c-4cd1-8765-bf521d7411c8",
  "versionCounter": 199,
  "triggerCount": 0
}