legacy/debug_forge.json
{
  "name": "CyberClimate Logger v2.0",
  "nodes": [
    {
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=London&appid=YOUR_API_KEY",
        "method": "GET"
      }
    },
    {
      "id": "write-file",
      "name": "Write File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "file": "/path/to/weather.txt",
        "content": "{{ $node[\"HTTP Request\"][\"json\"] }}"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}