legacy/n8n_bunker_workflow_v3.json
{
    "name": "NIN | Búnker de Memoria Dinámica",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "bunker-sync",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "c1a2b3c4-post",
            "name": "Recibidor (POST)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "nin_memory_sync_post"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst logPath = '/home/node/.n8n-files/nin_bunker_log.jsonl';\nconst content = JSON.stringify($input.item.json.body) + '\\n';\ntry {\n  fs.appendFileSync(logPath, content);\n  return { json: { status: 'success' } };\n} catch (e) {\n  return { json: { status: 'error', error: e.message } };\n}"
            },
            "id": "code-sync",
            "name": "Sync Code",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "allItemProperties",
                "options": {}
            },
            "id": "res-sync",
            "name": "Respond Sync",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Recibidor (POST)": {
            "main": [
                [
                    {
                        "node": "Sync Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sync Code": {
            "main": [
                [
                    {
                        "node": "Respond Sync",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}