docs/pilar5_memoria.json
{
    "name": "Pilar 5: Búnker de Memoria (RAG Cyberpunk)",
    "nodes": [
        {
            "parameters": {
                "triggerOn": "folder",
                "path": "/mnt/Cerebro",
                "events": [
                    "add",
                    "change"
                ],
                "options": {
                    "awaitWriteFinish": true
                }
            },
            "id": "e4f8a91b-5234-4567-890a-bcdef1234560",
            "name": "Local File Trigger",
            "type": "n8n-nodes-base.localFileTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "fileSelector": "={{ $json.path }}"
            },
            "id": "e4f8a91b-5234-4567-890a-bcdef1234561",
            "name": "Read Binary File",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "e4f8a91b-5234-4567-890a-bcdef1234562",
            "name": "Extract Content (PDF/Doc)",
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "chunkSize": 1000,
                "chunkOverlap": 100,
                "options": {}
            },
            "id": "e4f8a91b-5234-4567-890a-bcdef1234563",
            "name": "Text Splitter",
            "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
            "typeVersion": 1,
            "position": [
                850,
                450
            ]
        },
        {
            "parameters": {
                "model": "nomic-embed-text:latest",
                "baseUrl": "http://host.docker.internal:11434",
                "options": {}
            },
            "id": "e4f8a91b-5234-4567-890a-bcdef1234564",
            "name": "Ollama Embeddings",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
            "typeVersion": 1,
            "position": [
                850,
                600
            ]
        },
        {
            "parameters": {
                "mode": "insert",
                "qdrantCollection": "cerebro_lucy",
                "options": {}
            },
            "id": "e4f8a91b-5234-4567-890a-bcdef1234565",
            "name": "Qdrant Vector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "qdrantApi": {
                    "id": "QDRANT_LOCAL_ID",
                    "name": "Qdrant Local Memory"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Local File Trigger": {
            "main": [
                [
                    {
                        "node": "Read Binary File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Binary File": {
            "main": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Content (PDF/Doc)": {
            "ai_document": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Text Splitter": {
            "ai_textSplitter": [
                [
                    {
                        "node": "Extract Content (PDF/Doc)",
                        "type": "ai_textSplitter",
                        "index": 0
                    }
                ]
            ]
        },
        "Ollama Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "f0a1b2c3-d4e5-f6a7-b8c9-d0e1f2a3b4c9",
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "id": "rag_cyberpunk_005"
}