docs/pilar1_doctor.json
{
  "name": "Pilar 1: Sistema Inmunol贸gico (Doctor)",
  "nodes": [
    {
      "parameters": {},
      "id": "e4f8a91b-1234-4567-890a-bcdef1234560",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwq-abliterated:32b"
            },
            {
              "name": "stream",
              "value": "false"
            },
            {
              "name": "messages",
              "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"Eres LUCY, el Arquitecto del Sistema y Doctor Aut贸nomo. Analiza el siguiente error de un flujo de n8n y proporciona un diagn贸stico breve y la soluci贸n t茅cnica directa.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Flujo fallido: \" + $json.execution.workflowData.name + \"\\nNodo: \" + $json.execution.lastNodeExecuted + \"\\nError: \" + JSON.stringify($json.execution.error)\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4f8a91b-1234-4567-890a-bcdef1234561",
      "name": "Ollama (QwQ-32B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "content": "={{ $json.message.content }}",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": " *LUCY Doctor Aut贸nomo* \n\n*Flujo:* {{ $('Error Trigger').item.json.execution.workflowData.name }}\n*Nodo Crash:* {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\n*Diagn贸stico:* \n{{ $json.message.content }}"
      },
      "id": "e4f8a91b-1234-4567-890a-bcdef1234562",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        650,
        300
      ],
      "notesInFlow": true,
      "notes": "Reemplazar con credenciales de Telegram o cambiar por un nodo Write to File para logs locales"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Ollama (QwQ-32B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama (QwQ-32B)": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0a1b2c3-d4e5-f6a7-b8c9-d0e1f2a3b4c5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "doctor_autonomo_001"
}
